<div class="app-header header top-header ">
    <div class="container-fluid main-container">
        <div class="d-flex">

            <div class="dropdown side-nav">
                <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                    (click)="toggleSidebar()">

                    <a class="open-toggle" href="javascript:void(0)">
                        <i class="bx bx-menu-alt-left header-icon"></i>
                    </a>
                    <a class="close-toggle" href="javascript:void(0)">
                        <i class="bx bx-x header-icon"></i>
                    </a>
                </a>
            </div>
            <a class="header-brand" routerLink="/dashboard">
                <img src="./assets/images/zauto/zautoaiwt.png" class="header-brand-img desktop-lgo" alt="Slica logo">
                <img src="./assets/images/zauto/zautoaidt.png" class="header-brand-img dark-logo" alt="Slica logo">
                <img src="./assets/images/zauto/zautoaiwt.png" class="header-brand-img mobile-logo" alt="Slica logo">
                <img src="./assets/images/zauto/zautoaidt.png" class="header-brand-img darkmobile-logo"
                    alt="Slica logo">
            </a>
            <div class="custom d-flex justify-content-end">
                
                <!-- <select class="form-select" [(ngModel)]="selectedBot" (change)="onBotChange(selectedBot);">
                    <option [value]="bot.id" *ngFor="let bot of bots">{{bot.displayName}}</option>
                </select> -->
              </div>
              

            <!-- <input type="search" class="form-control header-search" placeholder="Search…"
                            aria-label="Search" tabindex="1" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"
                            (keyup)="Search(text)" autocomplete="off" />
                        <button class="btn btn-primary-color" type="button">
                            <i class="bx bx-search header-icon search-icon"></i>
                        </button>
                        <div class="search-result p-absolute w-100 card border mt-1"
                            *ngIf="menuItems?.length; else elseBlock">
                            <div class="card-header">
                                <h4 class="card-title me-2">Search result of "{{text}}" </h4> <small></small>
                            </div>
                            <ul class="list-group text-break">
                                <li *ngFor="let menuItem of menuItems | slice:0:5" [routerLink]="menuItem?.path"
                                    class="list-group-item header-list-group border-start-end-top-0 br-0"
                                    (click)="clearSearch()">
                                    <i class="fa fa-angle-double-right me-2" aria-hidden="true"></i>{{menuItem?.title}}
                                </li>
                            </ul>
                        </div>
                        <ng-template #elseBlock>
                            <ul class="list-group p-absolute w-100 mt-1 serach-result-empty text-break">
                                <li class="list-group-item no-result" [ngClass]="{'show':SearchResultEmpty}"><i
                                        class="fa fa-frown-o text-primary me-2" aria-hidden="true"></i>No Search Result
                                    Found with "{{text}}"
                                </li>
                            </ul>
                        </ng-template>
                    </div> -->

            <div class="d-flex order-lg-2 ms-lg-auto">
                <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                    (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
                    <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                </button>
                <div class="navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4" #collapse="ngbCollapse"
                        [(ngbCollapse)]="isCollapsed">
                        <div class="d-flex order-lg-2">
                            <!-- <div ngbDropdown  class="dropdown d-lg-none d-flex">
                            <a ngbDropdownToggle
                              href="javascript:void(0)"
                              class="nav-link icon"
                              data-bs-toggle="dropdown"
                            >
                              <i class="fe fe-search header-icon"></i>
                            </a>
                            <div ngbDropdownMenu  class="dropdown-menu header-search dropdown-menu-start">
                              <div ngbDropdownItem class="input-group w-100 p-2">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Search...."
                                />
                                <div class="input-group-text btn btn-primary">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div> -->

                            <app-search-component />

                            <!-- <a href="javascript:void(0)" data-bs-toggle="search" class="nav-link nav-link-lg d-lg-none navsearch">
                                <i class="bx bx-search header-icon search-icon"></i>
                            </a> -->
                            <div ngbDropdown class="d-flex">
                                <a href="{{getAvatarUrl()}}" target="_blank" class="nav-link icon theme-layout nav-link-bg layout-setting">
                                    <span class="btn btn-outline-primary btn-sm">
                                        <i class="fe fe-gitlab"></i> Preview <i class="fe fe-external-link"></i>
                                    </span>
                                </a>
                                <a class="nav-link icon theme-layout nav-link-bg layout-setting"
                                    routerLink="/dashboard">
                                    <span>
                                        <i class="bx bx-home header-icon"></i>
                                    </span>
                                </a>
                                <!-- <a class="nav-link icon theme-layout nav-link-bg layout-setting" appToggleTheme>
                                    <span class="dark-layout">
                                        <i class="bx bx-sun header-icon"></i>
                                    </span>
                                    <span class="light-layout">
                                        <i class="bx bx-moon header-icon"></i>
                                    </span>
                                </a> -->
                            </div>
                            <div class="dropdown header-fullscreen">
                                <a class="nav-link icon full-screen-link" id="fullscreen-button" appFullscreen>
                                    <i class="bx bx-fullscreen header-icon"></i>
                                </a>
                            </div>






                            <div ngbDropdown class="dropdown profile-dropdown" *ngIf="userData">
                                <a ngbDropdownToggle href="javascript:void(0)" class="nav-link icon px-1"
                                    data-bs-toggle="dropdown">
                                    <img src="{{userData.imgUrl || GLOBAL_IMAGES.default_user}}" alt="img" class="avatar brround">
                                </a>
                                <div ngbDropdownMenu
                                    class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
                                    <div class=" dropdown-header noti-title text-center border-bottom p-3">
                                        <div ngbDropdownItem class="header-usertext">
                                            <h5 class="mb-1">{{userData.name}}</h5>
                                            <p class="mb-0">{{userData.role.name}}</p>
                                        </div>
                                    </div>
                                    <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)" (click)="changeProfile()">
                                        <i class="fe fe-user me-2" ></i> <span>Change profile</span>
                                    </a>
                                    <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)" (click)="changePassword()">
                                        <i class="fe fe-lock me-2"></i> <span>Change password</span>
                                    </a>
                                    
                                    <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)" (click)="signout()">
                                        <i class="fe fe-log-out me-2"></i> <span>Logout</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="demo-icon nav-link icon" (click)="toggleSwitcher()">
                    <i class="bx bx-cog header-icon fa-spin"></i>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- change profile pic modal -->
<ng-template #changeProfileModal let-modal>
    <div class="modal-header">
        <h4><i class="zmdi zmdi-image"></i>  Change profile pic</h4>
    </div>
    <form #profileForm="ngForm" (ngSubmit)="onChangeProfileSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <div class="profile-pic-cover">
                        <img src="{{previewUrl || './assets/images/users/default-user.png'}}" alt="">
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <label for="selectImg" class="btn btn-primary btn-block"><i class="fa fa-upload" aria-hidden="true"></i> Select Image</label>
                    <input type="file" id="selectImg" accept="image/png, image/jpg, image/jpeg" (change)="onImageSelected($event)" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-primary" type="button" (click)="closeModal()">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="!selectedImage">Save</button>
        </div>
    </form>
</ng-template>

<ng-template #changePasswordModal let-modal>
    <div class="modal-header">
        <h4><i class="zmdi zmdi-lock"></i> Change password</h4>
    </div>
    <form #chagePassForm="ngForm" >
        <div class="modal-body">
            <div class="form-group mb-3">
                <label for="">Password</label>
                <input type="password" 
                class="form-control" 
                placeholder="Password" 
                name="newPassword"
                autocomplete="off" 
                [(ngModel)]="newPassword"
                >
            </div>
            <div class="form-group mb-3">
                <label for="">Confirm password</label>
                <input type="password" 
                class="form-control" 
                [ngClass]="{'is-invalid':passwordErrorText.length > 0}"
                placeholder="Confirm password" 
                autocomplete="off" 
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                >
                <div class="invalid-feedback">
                    {{passwordErrorText}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-primary" type="button" (click)="closeModal()">Cancel</button>
            <button class="btn btn-primary" 
            type="submit" 
            (click)="onChangePassword()"
            [disabled]="newPassword.length <= 0 || confirmPassword.length <= 0"
            >Save</button>
        </div>
    </form>
</ng-template>