<div class="dp-hidden position-absolute">

    <input 
    name="datepicker" 
    class="form-control" 
    ngbDatepicker 
    #datepicker="ngbDatepicker"
    [autoClose]="'outside'" 
    (dateSelect)="onDateSelection($event)" 
    [displayMonths]="1" [dayTemplate]="t"
    outsideDays="hidden" 
    [startDate]="fromDate!" 
    tabindex="-1" />
</div>

<div class="input-container position-relative mb-2">
    <div class="input-group">
        <input 
        class="form-control form-control-sm" 
        [value]="(formatter.format(fromDate) || 'yyyy-mm-dd') + (toDate ? ' to '+ (formatter.format(toDate) || 'yyyy-mm-dd') : '')"
        readonly
        />
        <button class="btn btn-outline-primary btn-sm" (click)="datepicker.toggle()" type="button">
            <i class="fe fe-calendar"></i>
        </button>
    </div>
    <a href="javascript:void(0)" class="clear-btn" (click)="clearDates()"><i class="fe fe-x"></i></a>
</div>
<ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
    </span>
</ng-template>