<div class="chat-bot" *ngIf="botId">
    <div class="chat-container mb-2 me-1" id="chat-container" [ngClass]="{'show':showChat}">
        <app-chat-bot-widgets (closeAgentEvent)="closeAgent($event)"></app-chat-bot-widgets>
    </div>
    <div class="chat-bottom" *ngIf="agent">
        <a href="javascript:void(0)" class="chat-bot-btn" (click)="toggleChat()">
            <!-- <i class="zmdi zmdi-comments"></i> -->
            <img [src]="agent.logoUrl || defaultBotLogo" alt="agent">
        </a>
    </div>
</div>
