.campaign-container
{
    overflow-y: scroll;
}

.campaign-card
{
    border-bottom: 1px #E3E3F7 solid; 
    padding: 15px;
    cursor: pointer;
    &:hover
    {
        background: var(--primary01);
    }
    &.active
    {
        background: var(--primary01);
    }
}

.right-line{
    border-right: 1px #E3E3F7 solid;
}

.date
{
    font-size: 0.7rem;
}

.campaign {
    padding: 20px;
    height: 90%;
}

.campaign-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .detail-label {
        font-weight: bold;
        width: 120px;
    }
    
    .detail-value {
        flex: 1;
        margin-left: 10px;
    }
}


.campaign-link-list {
    li {
        padding: 10px ;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: #8080ff2d;
    }
    
    i {
      font-size: 15px;
    }
    
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    width: 90%; 
    vertical-align: top;
}
.bg-light{
    background-color: rgb(0, 136, 255);
}
//colore picker
.color-input {
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100px; /* Adjust width to fit design */
    border-radius: 4px;
    overflow: hidden;
    background-color: transparent;
  }
  
  .color-input::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .color-input::-webkit-color-swatch {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
  }
  
