<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
          <i class="fa-solid fa-object-ungroup"></i> Segments
        </h5>
      </div>
      <div class="card-body p-0">
        <div class="row justify-content-md-center p-4">
          <div class="col-6">
            <div style="border-radius: 5px; height: 70vh" class="border p-4">
              <div class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100">
                <h4 class="fs-md-6">
                  <i class="fa-regular fa-object-group"></i> Segment Category
                </h4>
                <button type="button" class="btn btn-outline-primary mt-3 mt-md-0" (click)="opensegmentcategory()">
                  <div class="d-flex align-items-center justify-content-between">
                    <i class="fe fe-plus"></i><span class="d-lg-block d-none">
                      Create Segment Category</span>
                  </div>
                </button>
              </div>
              <div style="overflow-x: auto; height: 60vh" class="mt-3">
                <div *ngFor="let segment of submittedData" (click)="selectSegment(segment)">
                  <div style="border-radius: 5px; cursor: pointer" class="mt-2 border p-2 mt-4">
                    <div>
                      <span class="fw-4 w-100 d-flex justify-content-between">
                        <strong>{{ segment.name }}</strong>
                        <div>
                          <button type="button" (click)="deletesegmentgroup(segment)">
                            <i style="color: rgb(183, 183, 183)" class="fa fa-trash-o delete"></i>
                          </button>
                          <button (click)="populateselect(segment)" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal4">
                            <i style="color: rgb(183, 183, 183)" class="fa fa-edit update"></i>
                          </button>
                        </div>
                      </span>
                    </div>
                    <div class="d-flex w-100 justify-content-between mt-2">
                      <span class="truncate" data-toggle="tooltip" data-placement="top" [title]="segment.description">
                        {{ segment.description }}
                      </span>
                      <div style="height: 20px; width: 20px; border-radius: 50%"
                        [ngStyle]="{ 'background-color': segment.color }" class="color-circle border"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div style="border-radius: 5px; height: 70vh" class="border p-4">
              <div class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100">
                <h4><i class="fa-regular fa-object-ungroup"></i> Segment</h4>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="opensegment()"
                >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <i class="fe fe-plus"></i>
                    <span class="d-lg-block d-none">Create Segment</span>
                  </div>
                </button>
              </div>
              <div style="overflow-x: auto; height: 60vh" class="mt-3">
                <div *ngIf="!displaySegment" class="p-2 mt-2">
                  <h4 class="text-danger">No Segment Category Selected</h4>
                  <p>
                    Please select a Segment Category to display the Segments
                    within that category.
                  </p>
                </div>
                <div *ngFor="let segment of displaySegment" class="mt-2 border p-2 mt-2"
                  style="border-radius: 5px; cursor: pointer">
                  <div class="fw-4 w-100 d-flex justify-content-between">
                    <h6 class="fw-4">
                      <strong>{{ segment.name }}</strong>
                    </h6>
                    <div>
                      <button (click)="deletedeletesegment(segment)">
                        <i style="color: rgb(183, 183, 183)" class="fa fa-trash-o delete"></i>
                      </button>
                      <button (click)="populateFormForUpdate(segment)" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal3">
                        <i style="color: rgb(183, 183, 183)" class="fa fa-edit update"></i>
                      </button>
                    </div>
                  </div>
                  <div class="mt-2">
                    <!-- <span><strong>Description : </strong></span> -->
                    <span class="truncate" [attr.title]="segment.description">
                      {{ segment.description }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-advance-offcanvas
  #segmentOffCanvas
  heading="{{ isEdit ? 'Edit' : 'Create' }} form"
>
{{ isLoading | json }}
  <form [formGroup]="segments" (ngSubmit)="onSubmitSegment()">
    <div class="form-group mb-3">
      <advanced-input
        [label]="'Name'"
        [type]="'text'"
        [placeholder]="'Name'"
        [size]="'md'"
        [isDisabled]="isLoading"
        [control]="segmentName"
        [errorMessages]="errorMessages.title"
      ></advanced-input>
    </div>
    <div class="form-group mb-3">
      <advanced-input
        [label]="'Description'"
        [type]="'text'"
        [placeholder]="'Description'"
        [size]="'md'"
        [isDisabled]="isLoading"
        [control]="segmentdescription"
        [errorMessages]="errorMessages.title"
      ></advanced-input>
    </div>
    <div class="form-group mb-3">
      <advanced-input
        [label]="'Segment Category'"
        [type]="'select'"
        [placeholder]="'--- Select segment ---'"
        [size]="'md'"
        [control]="segmentCategoryId"
        [isDisabled]="isLoading"
      >
        <option *ngFor="let segment of submittedData" [value]="segment.id">
          {{ segment.name }}
        </option>
      </advanced-input>
    </div>
    <div class="d-flex gap-3 justify-content-end">
      <advanced-button label="{{ isEdit ? 'Update' : 'Create' }}" [size]="'md'" [classes]="'w-100'" [type]="'submit'"
        [isLoading]="isLoading"></advanced-button>
      <advanced-button label="Cancel" [size]="'md'" [classes]="'w-100'" [type]="'button'" [color]="'outline-primary'"
        [isLoading]="isLoading" (onClick)="closeComposeCanvas()"></advanced-button>
    </div>
  </form>
</app-advance-offcanvas>

<app-advance-offcanvas
  #segmentCategoryOffCanvas
  heading="{{ isEdit ? 'Edit' : 'Create' }} form"
>
  <form [formGroup]="segmentGroup" (ngSubmit)="onSubmitSegmentCategory()">
    <div class="form-group mb-3">
      <advanced-input [label]="'Name'" [type]="'text'" [placeholder]="'Name'" [size]="'md'" [control]="name"
        [isDisabled]="isLoading" [errorMessages]="errorMessages.title"></advanced-input>
    </div>
    <div class="form-group mb-3">
      <advanced-input [label]="'Description'" [type]="'text'" [placeholder]="'Description'" [size]="'md'"
        [control]="description" [isDisabled]="isLoading" [errorMessages]="errorMessages.title"></advanced-input>
    </div>


    <div class="mb-3 color-picker-container">
      <label for="color" class="form-label">Color:</label>
      <input
        id="color"
        class="form-control color-input"
        type="color"
        formControlName="color"
      />
    </div>

    <div class="d-flex gap-3 justify-content-end">
      <advanced-button label="{{ isEdit ? 'Update' : 'Create' }}" [size]="'md'" [classes]="'w-100'" [type]="'submit'"
        [isLoading]="isLoading"></advanced-button>
      <advanced-button label="Cancel" [size]="'md'" [classes]="'w-100'" [type]="'button'" [color]="'outline-primary'"
        [isLoading]="isLoading" (onClick)="closeComposeCanvas()"></advanced-button>
    </div>
  </form>
</app-advance-offcanvas>

<!-- Button trigger modal -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Create Segment Category
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="segmentGroup" (ngSubmit)="onCreateSegmentCategory()">
        <div class="modal-body">
          <div>
            <div>
              <label for="" class="form-label">Name : </label>
              <input placeholder="Enter Segment Category" class="form-control" type="text" formControlName="name" />
            </div>
            <div>
              <label for="" class="form-label">Description</label>
              <textarea cols="3" rows="4" placeholder="Enter Description" class="form-control" name=""
                formControlName="description" id=""></textarea>
            </div>
            <div class="mb-3 color-picker-container">
              <label for="color" class="form-label">Color:</label>
              <input id="color" class="form-control color-input" type="color" formControlName="color" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- -------------model2 ---------------- -->

<!-- <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Segment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" [formGroup]="segments" (ngSubmit)="oncreatesegmente()">
        <div class="modal-body">
          <div>
            <div>
              <label for="" class="form-label">Name : </label>
              <input placeholder="Enter Segment" class="form-control" type="text" formControlName="name" />
            </div>

            <div>
              <label for="" class="form-label">Description</label>
              <textarea cols="3" rows="4" placeholder="Enter Description." class="form-control" name="" id=""
                formControlName="description"></textarea>
            </div>
          </div>

          <div>
            <label for="dynamicSelect">Select the Segment</label>
            <select formControlName="segmentCategoryId" class="form-select" id="dynamicSelect">
              <option value="" selected>-select-</option>
              <option *ngFor="let option of submittedData" [value]="option.id">
                {{ option.name }}
              </option>
            </select>
          </div>

          <div class="mb-3 text-center">
            <label for="primary_color" class="form-label">Primary color</label>
            <ngx-colors ngx-colors-trigger [(ngModel)]="avatarStyle.primaryColor"
          ></ngx-colors>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- ==========modal3update----------------------------- -->

<!-- <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Segment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" [formGroup]="segments" (ngSubmit)="updatesegment()">
        <div class="modal-body">
          <div>
            <div>
              <label for="" class="form-label">Name : </label>
              <input placeholder="Enter Segment" class="form-control" type="text" formControlName="name" />
            </div>
            <div>
              <label for="" class="form-label">Description</label>
              <textarea cols="3" rows="4" placeholder="Enter Description" class="form-control" name="" id=""
                formControlName="description"></textarea>
            </div>
          </div>

          <div>
            <label for="dynamicSelect">Select an option:</label>
            <select formControlName="segmentCategoryId" class="form-select" id="dynamicSelect">
              <option value="" selected>-select-</option>
              <option *ngFor="let option of submittedData" [value]="option.id">
                {{ option.name }}
              </option>
            </select>
          </div>
          <div class="mb-3 text-center">
            <label for="primary_color" class="form-label">Primary color</label>
            <ngx-colors
              ngx-colors-trigger
              [(ngModel)]="avatarStyle.primaryColor"
            ></ngx-colors>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- -------------------modal4 update------------------>
<!-- <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Update Segment Category
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="segmentGroup" (ngSubmit)="updatesegmentgrp()">
        <div class="modal-body">
          <div>
            <div>
              <label for="" class="form-label">Name : </label>
              <input placeholder="Enter Segment Category" class="form-control" type="text" formControlName="name" />
            </div>
            <div>
              <label for="" class="form-label">Description</label>
              <textarea cols="3" rows="4" placeholder="Enter Description" class="form-control" name=""
                formControlName="description" id=""></textarea>
            </div>
            <div class="mb-3 color-picker-container">
              <label for="color" class="form-label">Color:</label>
              <input id="color" class="form-control color-input" type="color" formControlName="color" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- Button trigger modal -->

<!-- Create campaign offcanvas -->
<!-- <ng-template #createCampaignOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-award"></i> Create Campaign</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="campaignForm" (ngSubmit)="onCreateCampaignSubmit()">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                    formControlName="title"
                    [ngClass]="{'is-invalid':isFieldValid('title') || errorFeedback.title.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.title}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" placeholder="Description..." rows="5"
                    formControlName="description"
                    [ngClass]="{'is-invalid':(isFieldValid('description') || errorFeedback.desc.length > 0)}">
                    </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.desc}}
                </div>
            </div>

            <div class="form-group mb-3" *ngIf="false">
                <label for="url">URL</label>
                <input type="text" id="url" name="url" class="form-control" placeholder="URL e.g: example.com"
                    formControlName="url">
            </div>

            <div class="form-group mb-3">
                <label class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" name="lead-only" formControlName="isOthers" class="custom-control-input">
                    <span class="custom-control-label">Is Others</span>
                </label>
            </div>
            <div class="form-group mb-3">
                <label class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" name="lead-only" formControlName="isabm" class="custom-control-input">
                    <span class="custom-control-label">Is Account Based Marketing</span>
                </label>
            </div>

            <div *ngIf="campaignForm.get('isabm')?.value">
                <label>Select an option:</label>
                <select formControlName="myDropdown">
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                </select>
              </div>

            <div class="form-group mb-3" *ngIf="campaignForm.value.isOthers">
                <label for="key">Campain Id field</label>
                <input type="text" id="key" name="key" class="form-control mb-2" placeholder="Key"
                    formControlName="idParam"
                    [ngClass]="{'is-invalid':isFieldValid('idParam') || errorFeedback.key.length > 0}">
                <input type="text" id="value" name="value" class="form-control" placeholder="Value"
                    formControlName="idValue"
                    [ngClass]="{'is-invalid':isFieldValid('idValue') || errorFeedback.value.length > 0}">
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i>
                    Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Create</button>
            </div>
        </form>
    </div>
</ng-template> -->
<!-- 
<ng-template #editCampaignOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-award"></i> Edit Campaign</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="campaignForm" (ngSubmit)="onEditCampaignSubmit()">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                    formControlName="title"
                    [ngClass]="{'is-invalid':isFieldValid('title') || errorFeedback.title.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.title}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" placeholder="Description..." rows="5"
                    formControlName="description"
                    [ngClass]="{'is-invalid':(isFieldValid('description') || errorFeedback.desc.length > 0)}">
                    </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.desc}}
                </div>
            </div>
            <div class="form-group mb-3" *ngIf="false">
                <label for="url">URL</label>
                <input type="text" id="url" name="url" class="form-control" placeholder="URL e.g: example.com"
                    formControlName="url">
            </div>

            <div class="form-group mb-3">
                <label for="">Start Date</label>
                <input type="date" class="form-control" formControlName="startDate">
            </div>
            <div class="form-group mb-3">
                <label for="">End Date</label>
                <input type="date" class="form-control" formControlName="endDate">
            </div>

            <div class="form-group mb-3" *ngIf="false">
                <label for=" status">Status</label>
                <select id="status" class="form-select" formControlName="status">
                    <option [value]="'ACTIVE'">ACTIVE</option>
                    <option [value]="'INACTIVE'">INACTIVE</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" name="lead-only" formControlName="isOthers" class="custom-control-input">
                    <span class="custom-control-label">Is Others</span>
                </label>
            </div>
            <div class="form-group mb-3" *ngIf="campaignForm.value.isOthers">
                <label for="key">Campain Id field</label>
                <input type="text" id="key" name="key" class="form-control mb-2" placeholder="Key"
                    formControlName="idParam"
                    [ngClass]="{'is-invalid':isFieldValid('idParam') || errorFeedback.key.length > 0}">
                <input type="text" id="value" name="value" class="form-control" placeholder="Value"
                    formControlName="idValue"
                    [ngClass]="{'is-invalid':isFieldValid('idValue') || errorFeedback.value.length > 0}">
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i>
                    Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update</button>
            </div>
        </form>
    </div>
</ng-template> -->

<!-- <ng-template #filterOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-filter"></i> Filters</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">

    </div>
</ng-template> -->