<div class="col-lg-12 mt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fa-solid fa-file-invoice"></i> Accounts
      </h3>
      <div class="card-options">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUser"
          (click)="openCreateUser()">
          <i class="fa fa-plus"></i>
          Create Accounts
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive mb-3">
        <table class="table border card-table table-vcenter text-nowrap align-items-center">
          <thead class="bg-primary text-white">
            <th class="text-white">Accountname</th>
            <th class="text-white">Phone</th>
            <th class="text-white">Email</th>
            <th class="text-white">Country</th>
            <th class="text-white">Action</th>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let data of submittedData">
                <td>
                  {{ data.accountName }}
                </td>
                <td>
                  {{ data.phone }}
                </td>
                <td>
                  {{ data.email }}
                </td>
                <td>
                  {{ data.country }}
                </td>
                <td class="icon w-1">
                  <button (click)="openViewUser(data)">
                    <i class="fa fa-eye text-secondary view"></i>
                  </button>

                  <button (click)="openUpdateUser(data)">
                    <i class="fa fa-edit text-success update"></i>
                  </button>

                  <button (click)="delete(data)">
                    <i class="fa fa-trash-o text-danger delete"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <app-pagination [totalPages]="totalItems" [limit]="limit" (pageChanged)="onPageChange($event)" />
    </div>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <!--  SMALL MODAL -->
  <div class="modal-content">
    <div class="modal-header">
      <h4><i class="fa fa-exclamation-triangle"></i> Delete Form</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="closeModal()">
        Cancel
      </button>
      <button class="btn btn-danger" type="button">Yes</button>
    </div>
  </div>
</ng-template>

<ng-template #createUserOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title"><i class="fe fe-cube"></i> Create Accounts</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <hr class="m-0" />
  <div class="offcanvas-body">
    <form [formGroup]="Form" (ngSubmit)="onCreateuserSubmit()">
      <div class="form-group">
        <label class="form-label">ParentaccountId</label>
        <input type="text" class="form-control" formControlName="parentAccountId" name="title"  (keydown)="preventDefault($event)"
          placeholder="parentAccountId" />
      </div>
      <div class="form-group">
        <label class="form-label">PhotoURL</label>
        <input type="text" class="form-control" formControlName="photoUrl" name="title"  (keydown)="preventDefault($event)" placeholder="photourl" />
      </div>
      <div class="form-group">
        <label class="form-label">Accountname</label>
        <input type="text" class="form-control" formControlName="accountName" name="title"  (keydown)="preventDefault($event)" placeholder="accountName" />
      </div>
      <div class="form-group">
        <label class="form-label">Industry</label>
        <input type="text" class="form-control" formControlName="industry" name="title"  (keydown)="preventDefault($event)" placeholder="industry" />
      </div>
      <div class="form-group">
        <label class="form-label">Companysize</label>
        <input type="number" class="form-control" formControlName="companySize"   (keydown)="preventDefault($event)" name="title"
          placeholder="companysize" />
      </div>
      <div class="form-group">
        <label class="form-label">Annualreveneue</label>
        <input type="number" class="form-control" formControlName="annualRevenue"   (keydown)="preventDefault($event)"name="title"
          placeholder="annualreveneue" />
      </div>
      <div class="form-group">
        <label class="form-label">AccountType</label>
        <input type="text" class="form-control" formControlName="accountType" name="title"  (keydown)="preventDefault($event)" placeholder="accounttype" />
      </div>
      <div class="form-group">
        <label class="form-label">Website</label>
        <input type="text" class="form-control" formControlName="website" name="title"   (keydown)="preventDefault($event)" placeholder="website" />
      </div>
      <div class="form-group">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" formControlName="address" name="title"   (keydown)="preventDefault($event)" placeholder="address" />
      </div>
      <div class="form-group">
        <label class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" name="title"   (keydown)="preventDefault($event)" placeholder="city" />
      </div>
      <div class="form-group">
        <label class="form-label">State</label>
        <input type="text" class="form-control" formControlName="state" name="title"  (keydown)="preventDefault($event)" placeholder="state" />
      </div>
      <div class="form-group">
        <label class="form-label">Zip</label>
        <input type="text" class="form-control" formControlName="zip" name="title"  (keydown)="preventDefault($event)"  placeholder="zip" />
      </div>
      <div class="form-group">
        <label class="form-label">Socialmedia</label>
        <input type="text" class="form-control" formControlName="socialMedia" name="title"   (keydown)="preventDefault($event)"placeholder="socialmedia" />
      </div>
      <div class="form-group">
        <label class="form-label">Notes</label>
        <input type="text" class="form-control" formControlName="notes" name="title"  (keydown)="preventDefault($event)" placeholder="notes" />
      </div>
      <div class="form-group">
        <label class="form-label">Source</label>
        <input type="text" class="form-control" formControlName="source" name="title"     (keydown)="preventDefault($event)"placeholder="source" />
      </div>

      <div class="form-group">
        <label class="form-label">Phone</label>
        <input rows="5" placeholder="phone" formControlName="phone"  (keydown)="preventDefault($event)"
          class="form-control ng-pristine ng-invalid ng-touched" />
      </div>
      <div class="form-group">
        <label class="form-label">Email</label>
        <input placeholder="Email" formControlName="email"   (keydown)="preventDefault($event)"class="form-control  ng-pristine ng-invalid ng-touched" />
      </div>
      <div class="form-group">
        <label class="form-label">Country</label>
        <input placeholder="country" formControlName="country"   (keydown)="preventDefault($event)"class="form-control ng-pristine ng-invalid ng-touched" />
      </div>
      <div class="form-group">
        <label class="form-label">Status</label>
        <input placeholder="status" formControlName="status"   (keydown)="preventDefault($event)" class="form-control ng-pristine ng-invalid ng-touched" />
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-outline-primary me-3" type="button"  (click)="offcanvas.dismiss()">
          <i class="fa fa-times"></i>Close
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i> Create
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #updateUserOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title"><i class="fe fe-user"></i>Edit Accounts</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <hr class="m-0" />
  <div class="offcanvas-body">
    <form [formGroup]="Form" (ngSubmit)="onUpdateuserSubmit()">
      <div class="form-group">
        <label class="form-label">ParentaccountId</label>
        <input type="title" class="form-control" formControlName="parentAccountId" name="Title"
          placeholder="parentAccountId" />
        <div class="invalid-feedback">{{ errorFeedback.email }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">PhotoURL</label>
        <input type="title" class="form-control" formControlName="photoUrl" name="Title" placeholder="photoUrl" />
        <div class="invalid-feedback">{{ errorFeedback.email }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Accountname</label>
        <input type="title" class="form-control" formControlName="accountName" name="Title" placeholder="accountName" />
        <div class="invalid-feedback">{{ errorFeedback.email }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Industry</label>
        <input type="title" class="form-control" formControlName="industry" name="Title" placeholder="industry" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Companysize</label>
        <input type="title" class="form-control" formControlName="companySize" name="Title" placeholder="companySize" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Annualreveneue</label>
        <input type="title" class="form-control" formControlName="annualRevenue" name="Title"
          placeholder="annualRevenue" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">AccountType</label>
        <input type="title" class="form-control" formControlName="accountType" name="Title" placeholder="accountType" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Website</label>
        <input type="title" class="form-control" formControlName="website" name="Title" placeholder="website" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Address</label>
        <input type="title" class="form-control" formControlName="address" name="Title" placeholder="address" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">City</label>
        <input type="title" class="form-control" formControlName="city" name="Title" placeholder="city" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">State</label>
        <input type="title" class="form-control" formControlName="state" name="Title" placeholder="state" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Zip</label>
        <input type="title" class="form-control" formControlName="zip" name="Title" placeholder="zip" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Country</label>
        <input type="title" class="form-control" formControlName="country" name="Title" placeholder="country" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Phone</label>
        <input type="title" class="form-control" formControlName="phone" name="Title" placeholder="phone" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>

      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="title" class="form-control" formControlName="email" name="Title" placeholder="email" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Socialmedia</label>
        <input type="title" class="form-control" formControlName="socialMedia" name="Title" placeholder="socialMedia" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Notes</label>
        <input type="title" class="form-control" formControlName="notes" name="Title" placeholder="notes" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Source</label>
        <input type="title" class="form-control" formControlName="source" name="Title" placeholder="source" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="form-group">
        <label class="form-label">Status</label>
        <input type="title" class="form-control" formControlName="status" name="Title" placeholder="status" />
        <div class="invalid-feedback">{{ errorFeedback.password }}</div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()">
          <i class="fa fa-times"></i> Close
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i> Update
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #viewUserOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><i class="fe fe-cube"></i> View Accounts</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <hr class="m-0" />
  <div class="offcanvas-body">
    <div *ngIf="selectedData">
      <p>
        <strong>ParentaccountId:</strong> {{ selectedData.parentAccountId }}
      </p>
      <p><strong>PhotoURL:</strong> {{ selectedData.photoUrl }}</p>
      <p><strong>Account Name:</strong> {{ selectedData.accountName }}</p>
      <p><strong>Industry</strong> {{ selectedData.industry }}</p>
      <p><strong>Companysize:</strong> {{ selectedData.companySize }}</p>
      <p><strong>Annualrevenue:</strong> {{ selectedData.annualRevenue }}</p>
      <p><strong>Accountype:</strong> {{ selectedData.accountType }}</p>
      <p><strong>Website:</strong> {{ selectedData.website }}</p>
      <p><strong>Address:</strong> {{ selectedData.address }}</p>
      <p><strong>City:</strong> {{ selectedData.city }}</p>
      <p><strong>state:</strong> {{ selectedData.state }}</p>
      <p><strong>Zip:</strong> {{ selectedData.zip }}</p>
      <p><strong>Country:</strong> {{ selectedData.country }}</p>
      <p><strong>Phone:</strong> {{ selectedData.phone }}</p>
      <p><strong>Email:</strong> {{ selectedData.email }}</p>
      <p><strong>Socialmedia:</strong> {{ selectedData.socialMedia }}</p>
      <p><strong>Notes:</strong> {{ selectedData.notes }}</p>
      <p><strong>Source:</strong> {{ selectedData.source }}</p>
      <p><strong>Status:</strong> {{ selectedData.status }}</p>
    </div>
  </div>
</ng-template>