.leadCategory-container
{
    overflow-y: scroll;
}

.leadCategory-card
{
    border-bottom: 1px #E3E3F7 solid; 
    padding: 15px;
    cursor: pointer;
    &:hover
    {
        background: var(--primary-2) !important;
    }
    &.active
    {
        background: var(--primary-1) !important;
    }
}

.right-line{
    border-right: 1px #E3E3F7 solid;
}

.date
{
    font-size: 0.7rem;
}

.leadCategory {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.leadCategory-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .detail-label {
        font-weight: bold;
        width: 120px;
    }
    
    .detail-value {
        flex: 1;
        margin-left: 10px;
    }
}


.leadCategory-link-list {
    li {
        padding: 10px ;
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: #8080ff2d;
    }
    
    i {
      font-size: 15px;
    }
    
}

  