# compiled output
dist
node_modules
public
.angular
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#docker
Dockerfile
dockercompose.yml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#env
.env
.env.dev


/public/

#client
/client/node_modules
/client/dist
client/.angular
client/documentation


#CI-CD
.github/



