:root {
    --main-color: #9752FC;
    --user-message-bg: #ffffff;
    --user-font-color: #ffffff;
    --chat-bg: #f3f3f3;
    --message-font-size: 14px;
}

#zauto_root
{
   
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
    margin-bottom: 10px;
}

.zauto-floating-btn
{
    cursor: pointer;
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--user-font-color);
    font-size: 1.2rem;
    z-index: 9999;
    overflow: hidden;
}

.zauto-floating-btn img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zauto-shadow {

    -webkit-box-shadow: 0px 0px 5px -6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.8);
}

.zauto-chatbot-container {
    display: flex;
    flex-direction: column;
    background-color: var(--chat-bg) !important;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s ease,transform 0.3s ease;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 9998;
}

.zauto-chatbot-container.active
{
    opacity: 1;
    transform: scale(1);
}

.zauto-chatbot-container.standalone{
    height: calc(100vh - 50px) !important;
    width: 30%;
    margin: 0 auto;
}

.zauto-chatbot-container:not(.standalone),
.zauto-recent-messages-container
{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 25%;
    z-index: 9999;
}

.zauto-chatbot-container:not(.standalone)
{
    height: calc(100vh - 5rem) !important;
}

.zauto-recent-messages-container
{
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 2rem;
    bottom: 4.5rem;
}

.zauto-recent-messages-container .zauto-message-container
{
    cursor: pointer;
    background: var(--user-message-bg);
    border-radius: 10px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);
}

.zauto-recent-messages-container .zauto-message-container.visible{
    opacity: 1;
    transform: translateY(0);
}
.zauto-recent-messages-container p
{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.zauto-chatbot-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--user-font-color);
    color: white;
}


.zauto-header-button
{
    color: var(--user-font-color);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    margin-left: 10px;
}


.zauto-header-button.zauto-header-agent-button{
    margin-left: auto;
}

.zauto-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.zauto-bot-name
{
    font-weight: 500;
    font-size: 18px;
}

.zauto-chat-messages {
    position: relative;
    padding: 10px;
    background-color: var(--chat-bg);
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.zauto-chat-messages::-webkit-scrollbar {
    width: 5px;
}
.zauto-chat-messages::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}


.zauto-message-frame {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.zauto-message-frame.visible {
    opacity: 1;
    transform: translateY(0);
}

.zauto-message-frame.bot-message {
    align-items: start;
}

.zauto-message-frame.user-message {
    align-items: end;
}

.zauto-message-container {
    padding: 5px 10px;
    min-width: 30%;
    max-width: 75%;

}

.zauto-message-frame.bot-message .zauto-message-container {
    background-color: var(--user-message-bg);
    color: #000000;
    margin-left: 1rem;
    border-radius: 0 10px 10px 10px;
}

.zauto-message-frame.user-message .zauto-message-container {
    background-color: var(--main-color);
    color: var(--user-font-color);
    border-radius: 10px 0 10px 10px;
}

.zauto-message-frame .zauto-profile-pic
{
    width: 30px;
    height: 30px;
}

.zauto-message-container .zauto-sentby {
    font-size: 16px;
    font-weight: bold;
}

.zauto-message-container .zauto-message {
    font-size: var(--message-font-size);
}

.zauto-timestamp-reactions-container
{
    min-width: 20%;
    max-width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zauto-message-frame .zauto-timestamp {
    color: #b0b0b0;
    margin-top: 5px;
    font-size: 10px;
}

.zauto-message-frame.bot-message .zauto-timestamp {
    margin-left: 1.5rem;
}

.zauto-message-frame.user-message .zauto-timestamp {
    margin-right: 15px;
}

.zauto-typing-indicator
{
    padding: 10px 5px;
}

.zauto-reaction-btn
{
    color: #ccc;
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.zauto-reaction-btn.active{
    cursor: default;
    color: var(--main-color);
}

.zauto-bouncing-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
.zauto-dot {
    width: 5px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.zauto-chat-input {
    width: 100%; 
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    border: none;
    background: transparent;
}

.zauto-send-btn {
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.zauto-chat-input-container {
    padding: 2px;
    display: flex;
    align-items: center;
    margin: 5px; 
    left: 10px;
    right: 10px;
    bottom: 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
}

.zauto-powered-by-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.zauto-powered-by-text {
    text-align: center;
    color: #888; 
    font-size: 12px;
}

.zauto-powered-by-container a {
    font-size: 12px;
    color: var(--main-color) !important;
    text-decoration: none; 
}

.zauto-powered-by-container a:hover {
    text-decoration: underline; 
}

.zauto-lead-form {

    width: 95%;
    padding: 10px;
    background: var(--user-message-bg);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.zauto-input-group
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.zauto-lead-form input,
.zauto-agent-form input
{
    flex: 1;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    height: 2.5em;
}

.zauto-agent-form input
{
    border-radius: 4px;
}

.zauto-lead-form input:focus,
.zauto-agent-form input:focus
{
    outline: none;
    border-color: var(--main-color);
}

.zauto-lead-form button, 
.zauto-agent-form button 
{
    background-color: var(--main-color);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius:0 4px 4px 0;
    cursor: pointer;
    height: 2.5em;
}

.zauto-agent-form button 
{
    width: 100%;
    border-radius: 4px;
}

.zauto-lead-form button:disabled, 
.zauto-agent-form button:disabled, 
.zauto-calendar-form button:disabled 
{
    background-color: #cccccc;
    cursor: not-allowed;
}

.zauto-activity-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ccc;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

.zauto-cta-form
{
    flex-direction: column !important;
    text-align: center;
}

.zauto-cta-form .zauto-input-group
{
    flex-direction: column;
    text-align: start;
}

.zauto-agent-form .zauto-input-group
{
    flex-direction: column;
    text-align: start;
}

.zauto-error-message
{
    font-size: 0.7rem;
    color: red;
}

.zauto-agent-form .zauto-agent-form-cotainer
{
    padding: 20px;
}

.zauto-agent-form .zauto-agent-form-cotainer p
{
    text-align: center;
    margin: 0;
}

.zauto-cta-form button,
.zauto-calendar-form button,
.zauto-cta-form input
{
    border-radius:4px;
}
.zauto-calendar-form
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
}

.zauto-calendar-form button
{
    font-size: 14px;
    white-space: nowrap;
}
.zauto-top-bar
{
    position: relative;
}
.zauto-agent-form
{
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in;
}

.zauto-agent-form.active
{
    transform: scaleY(1);
}

.zauto-starters
{
    display: flex;
    justify-content: end;
    flex-wrap: wrap; 
    list-style: none;
    margin: 0;
    padding: 0 10px;
    font-size: var(--message-font-size);
    align-items: center;
}

.zauto-starters li
{
    flex: 0 0 auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

.zauto-starters li .zauto-starter,
.zauto-starters li .zauto-navigator,
.zauto-starters li .zauto-cta
{
    cursor: pointer;
    padding: 5px;
    color: var(--main-color) !important;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: var(--message-font-size);
    white-space: nowrap;
}

.zauto-starters li .zauto-cta
{
    background-color: var(--main-color) !important;
    color: var(--user-font-color) !important;
}

.zauto-backdrop 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 1024px) {
    .zauto-chatbot-container.standalone,
    .zauto-chatbot-container:not(.standalone)
    {
        width: 40% !important;
    }
    .zauto-recent-messages-container
    {
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .zauto-chatbot-container.standalone,
    .zauto-chatbot-container:not(.standalone)
    {
        width: 50% !important;
    }

    .zauto-recent-messages-container
    {
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .zauto-chatbot-container.standalone,
    .zauto-chatbot-container:not(.standalone)
    {
        position: fixed;
        border-radius: 0;
        right: 0;
        bottom: 0;
        height: 100% !important;
        width: 100% !important;
        z-index: 99999;
    }

    .zauto-recent-messages-container
    {
        width: 100%;
    }
}
