<div class="container-box">
    <div class="container-title" style="font-size: 15px;">CHANNEL ENHANCEMENT METRICS</div>
    <div id="chart" *ngIf="chartOptions && chartOptions.series && chartOptions.chart && chartOptions.dataLabels && chartOptions.plotOptions && chartOptions.xaxis && chartOptions.stroke">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
      ></apx-chart>
    </div>
  </div>
  