.custom-accordion-button {
    color: black; /* Change text color to black */
}

.custom-accordion-button:hover {
    color: black; /* Ensure text remains black on hover */
}

.custom-accordion-button:focus {
    color: black; /* Ensure text remains black on focus */
}