<div class="card">
    <div class="card-header">
        <h5 class="card-title"><i class="fa-solid fa-paintbrush"></i> Customize and Deploy</h5>
    </div>
    <div class="card-body fixed-vh">
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm me-2" *ngIf="canEdit" [disabled]="isUpdateing"
                        (click)="onSaveChanges()">
                        <i class="zmdi zmdi-spinner text-white status-loader" *ngIf="isUpdateing"></i> {{!isUpdateing ?
                        'Save changes' :
                        'Updating'}}</button>
                    <button class="btn btn-primary btn-sm" (click)="toggleEdit()">{{!canEdit ? 'Edit' :
                        'Cancel'}}</button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="font_size" class="form-label">Avatar Icon </label>
                            <div class="d-flex">
                                <div class="main-img-user avatar-md me-3">
                                    <img alt="avatar" class="rounded-circle"
                                        [src]="previewUrl || avatarStyle.icon || defaultBotLogo">
                                </div>
                                <input id="font_size" type="file" class="form-control  h-100"
                                    accept="image/png, image/jpg, image/jpeg" [disabled]="!canEdit || isUpdateing"
                                    (change)="onImageSelected($event);onStyleChange()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="font_size" class="form-label">Font size (in px) </label>
                            <input id="font_size" min="0" type="number" class="form-control form-control-sm"
                                placeholder="14" [disabled]="!canEdit || isUpdateing" [(ngModel)]="avatarStyle.fontSize"
                                (change)="onStyleChange()">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 text-center">
                            <label for="primary_color" class="form-label">Primary color</label>
                            <ngx-colors ngx-colors-trigger [(ngModel)]="avatarStyle.primaryColor"
                                [disabled]="!canEdit || isUpdateing"></ngx-colors>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 text-center">
                            <label for="text_color" class="form-label">Text color</label>
                            <ngx-colors ngx-colors-trigger [(ngModel)]="avatarStyle.textColor"
                                [disabled]="!canEdit || isUpdateing"></ngx-colors>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="wakeup_time" class="form-label">Wekeup time (in seconds)</label>
                            <input id="wakeup_time" min="0" type="number" class="form-control form-control-sm"
                                placeholder="5s" [disabled]="!canEdit || isUpdateing" [(ngModel)]="wakeupTime"
                                (change)="onStyleChange()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="bot_pos" class="form-label">Position</label>
                            <select name="" id="bot_pos" class="form-control form-control-sm" [(ngModel)]="botPosition"
                                [disabled]="!canEdit || isUpdateing" (change)="onStyleChange()">
                                <option value="BOTTOM_CENTER">Bottom center</option>
                                <option value="BOTTOM_LEFT">Bottom left</option>
                                <option value="BOTTOM_RIGHT">Bottom right</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="scroll ms-5">
                    <h4 class="card-title">Avatar Deployment</h4>
                    <div class="mb-3">
                        <h5 class="card-title mb-1">Bottom bar</h5>
                        <div class="position-relative">
                            <pre>{{getAgentDeploy(deplymentType.BOTTOM_BAR)}}</pre>
                            <a class="position-absolute top-0 end-0 mt-1 me-2 " href="javascript:void(0)" appClickToCopy
                                [textToCopy]="getAgentDeploy(deplymentType.BOTTOM_BAR)">
                                <h3><i class="fa fa-clone"></i></h3>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>