<ng-container *ngIf="showLoader">
</ng-container>
<ng-container *ngIf="!showLoader">
    <div class="card shadow overflow-hidden">
        <div class="card-header">
            <h5 class="card-title">{{chartTitle}}</h5>
        </div>
        <div class="card-body">
            <div>
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
                    [stroke]="chartOptions.stroke">
                </apx-chart>
            </div>
        </div>
    </div>
</ng-container>