<ng-container *ngIf="showLoader">
  <ngx-skeleton-loader
    count="6"
    [theme]="{ 'border-radius': '10px','margin-right':'22px', height: '200px' ,width : '300px' }"
  ></ngx-skeleton-loader>
</ng-container>
<ng-container *ngIf="!showLoader">
  <div class="dashboard-container">
    <!-- Top Row Widgets -->
    <div class="widget" *ngFor="let widget of topWidgets">
      <div class="card bg-gradient-light position-relative shadow">
        <div class="card-body">
          <h3 class="card-title text-dark">{{ widget.title }}</h3>
          <p class="card-text text-muted">{{ widget.subtitle }}</p>
          <div class="current-value-container">
            <h3 class="number-font text-dark">{{ widget.currentValue }}</h3>
          </div>
          <p class="card-text text-muted past-month">{{ widget.pastPeriod }}</p>
        </div>
      </div>
    </div>
    <!-- Bottom Row Widgets -->
    <div class="widget larger" *ngFor="let widget of bottomWidgets">
      <div class="card bg-gradient-light position-relative shadow">
        <div class="card-body">
          <h3 class="card-title text-dark">{{ widget.title }}</h3>
          <p class="card-text text-muted">{{ widget.subtitle }}</p>
          <div class="current-value-container">
            <h3 class="number-font text-dark">{{ widget.currentValue }}</h3>
          </div>
          <p class="card-text text-muted change-text">
            <span class="text-{{ widget.color }}">{{ widget.change }}</span>
          </p>
          <p class="card-text text-muted past-month">{{ widget.pastPeriod }}</p>
          <i class="fe fe-{{ widget.icon }} widget-icon"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>
