.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 50px;
}

.widget {
    width: 100%;
}

.widget.larger {
    height: 200px; /* Adjusted height for larger widgets */
    width: 100%;
}

.card {
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for better visual separation */
    background-color: #EEEEEE; /* Set background color to #EEEEEE */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative; /* Added for positioning icon */
}

.card-title {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: 0px;   
    margin-bottom: 8px;
}

.card-text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #6c757d;
}

.number-font {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.text-success {
    color: #28a745 !important;
}

.float-end {
    float: right;
}

/* Added styles for centering current value and aligning past month text to the bottom */
.current-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.past-month {
    text-align: center;
    margin-top: auto; /* Ensures it stays at the bottom */
}

/* New styles for the change text and widget icon */
.change-text {
    text-align: center;
    margin-bottom: 4px; /* Small margin for separation from past-month */
}

.widget-icon {
    position: absolute;
    top: 21px;
    right: 10px;
    font-size: 24px; /* Adjust size as needed */
}
