<div class="card mt-2 shadow">
    <div class="card-header">
        <h4 class="card-title"><i class="fe fe-mail"></i> SMTP config</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 fixed-vh">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm me-2" *ngIf="canEdit" [disabled]="isUpdateing"
                        [disabled]="getIsChanged()" (click)="onSaveSubmit()">
                        <i class="zmdi zmdi-spinner text-white status-loader" *ngIf="isUpdateing"></i> {{!isUpdateing ? 'Savechanges' :'Updating'}}</button>
                    <button class="btn btn-primary btn-sm" (click)="toggleEdit()">{{!canEdit ? 'Edit' : 'Cancel'}}</button>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label for="">Host</label>
                        <input type="text"
                        class="form-control" 
                        placeholder="smtp.example.com" 
                        [disabled]="!canEdit"
                        [(ngModel)]="configForm.host"
                        >
                    </div>
                    <div class="col-6">
                        <label for="">Port</label>
                        <input type="number" 
                        class="form-control" 
                        placeholder="Port" 
                        [disabled]="!canEdit"
                        [(ngModel)]="configForm.port">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label for="">From address</label>
                        <input type="email" 
                        class="form-control" 
                        placeholder="example@zautoai.com" 
                        [disabled]="!canEdit"
                        [(ngModel)]="configForm.user">
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="password" 
                        class="form-control" 
                        placeholder="Password" 
                        [disabled]="!canEdit"
                        [(ngModel)]="configForm.pass">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label for="">From name</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder="From name" 
                        [disabled]="!canEdit"
                        [(ngModel)]="configForm.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>