<div class="chart-container">
  @if (!isNull) {
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [labels]="chartOptions.labels "
      [title]="chartOptions.title"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [plotOptions]="chartOptions.plotOptions"
      [tooltip]="chartOptions.tooltip">
    </apx-chart>
  }@else {
    <div style="height: 100px;">
      <div class="mt-5 mb-5 text-center" style="font-family: 'Mulish', sans-serif; font-size: 18px; line-height: 27px; font-weight: 700; font-style: normal; letter-spacing: normal; word-spacing: 0px;">
        CHANNELS IMPRESSIONS & PIPELINE VALUE
      </div>
      <div class="mt-5 text-center">
        No Data Found
      </div>
    </div>
  }
  </div>
  