.field
{
    background: #E9E9FF;
    padding: 5px 10px;
    border-radius: 5px;
}

.field-outline
{
    border: 2px solid #E9E9FF;
    padding: 5px 10px;
    border-radius: 5px;
}

.scroll
{
  height: 65vh;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}