<div class="card mt-3">
  <div class="card-header d-flex align-items-center">
    <h6 class="card-title"><i class="fa-solid fa-sliders"></i> Lead settings</h6>
    <div class="ms-auto d-flex justify-content-end"> <button class="btn btn-primary btn-sm me-2" *ngIf="canEdit"
        [disabled]="isUpdateing">
        <i class="zmdi zmdi-spinner text-white status-loader" *ngIf="isUpdateing"></i>
        {{ isUpdateing ? 'Updating' : 'Save changes' }}
      </button>
      <button class="btn btn-primary btn-sm" (click)="toggleEdit()">{{!canEdit ? 'Edit' : 'Cancel'}}</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <ul class="mb-0">
          <li *ngFor="let field of fields; let i = index">
            <div class="field mb-2 d-flex justify-content-between">
              <span>{{field}}</span>
              <a href="javascript:void(0)" (click)="deleteField(i)" *ngIf="canEdit && !isUpdateing"><i
                  class="fa fa-trash text-dark"></i></a>
            </div>
          </li>
          <li *ngIf="canEdit && !isUpdateing">
            <form (ngSubmit)="addField()">
              <div class="input-group justify-content-end"> <input type="text" class="form-control"
                  placeholder="Field name" name="newField" [(ngModel)]="newField">
                <button class="btn btn-outline-primary" (click)="addField()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>