<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title"><i class="fe fe-layers"></i> Sales playbook</h5>
                <button class="btn btn-outline-primary btn-sm" (click)="openCreateStage()"><i
                        class="fe fe-plus"></i>Create stage</button>
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-4  border-end">
                        <div class="p-3">
                            <button class="btn btn-outline-primary btn-block" (click)="toggleAvatarSettings()">Avatar
                                settings</button>
                        </div>
                        <ul class="stage-container vh-100">
                            <ng-container *ngFor="let stage of stageList">
                                <li class="stage-node node"
                                    [ngClass]="{'active':(selectedStage && selectedStage.id == stage.id)}"
                                    (click)="selectStage(stage)">
                                    <h4 class="m-0">{{stage.name}}</h4>
                                    <div class="d-flex flex-column">
                                        <button class="btn btn-sm" (click)="stageUp(stage)"><i
                                                class="fa fa-chevron-up"></i></button>
                                        <button class="btn btn-sm" (click)="stageDown(stage)"><i
                                                class="fa fa-chevron-down"></i></button>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-8 vh-100">
                        <div class="h-100 p-3" *ngIf="selectedStage">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-info btn-sm me-2 ct" (click)="openDeleteStage()"><i
                                        class="zmdi zmdi-delete"></i></button>
                                <button class="btn btn-primary btn-sm" (click)="openEditStage(selectedStage)">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                            </div>
                            <div class="stage-detail">
                                <dt class="detail-label">Name :</dt>
                                <dd class="detail-value">{{selectedStage.name}}</dd>
                            </div>
                            <div class="stage-detail">
                                <dt class="detail-label">Instruction :</dt>
                                <dd class="detail-value">{{selectedStage.instruction}}</dd>
                            </div>
                        </div>
                        <div class="p-2" *ngIf="!selectedStage && showAvatarSettings">
                            <app-settings></app-settings>
                        </div>
                        <div class="h-100 w-100 d-flex justify-content-center align-items-center"
                            *ngIf="!selectedStage && !showAvatarSettings">
                            <div>
                                <span class="text-muted">Select stage for details.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #deleteStageModal let-model>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="fe fe-layers"></i> Delete Stage</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to delete ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="closeModal()">Cancel</button>
        <button class="btn btn-danger" (click)="onDeleteStageSubmit()">Yes</button>
    </div>
</ng-template>

<app-advance-offcanvas heading="{{ isEdit ? 'Edit' : 'Create'}} Stages">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group mb-3">
                <advanced-input [label]="'Stage'" [type]="'text'" [placeholder]="'stage'" [size]="'md'" [control]="name"
                    [isDisabled]="isLoading"></advanced-input>
            </div>
            <div class="form-group mb-3">
                <advanced-input [label]="'Instruction'" [type]="'text'" [placeholder]="'Instruction'" [size]="'md'"
                    [control]="instruction" [isDisabled]="isLoading"></advanced-input>
            </div>
        </div>
        <div class="d-flex gap-3 justify-content-end">
            <advanced-button label="{{ isEdit ? 'Update' : 'Create'}}" [size]="'md'" [classes]="'w-100'"
                [type]="'submit'" [isLoading]="isLoading"></advanced-button>

            <advanced-button label="Cancel" [size]="'md'" [classes]="'w-100'" [type]="'button'"
                [color]="'outline-primary'" [isLoading]="isLoading" (onClick)="onCancel()"></advanced-button>
        </div>
    </form>
</app-advance-offcanvas>