<div class="d-flex justify-content-center " *ngIf="data && leadData && data?.role == sentBy.LEAD">
    <div class="msg_cotainer w-90 center">
        <form (ngSubmit)="onLeadSubmit()">
            <div>
                <label for="name"><i class="fe fe-user"></i> {{leadData.title}}</label>
                <div class="input-group">
                    <input type="text" #inputField class="form-control form-control-sm" placeholder="Enter {{leadData.title}}"
                        name="leadField" [(ngModel)]="this.leadData.value" [ngStyle]="{ 'border-color': background }" [disabled]="isSubmiting">
                    <button class="btn zauto-primary btn-sm" type="submit"
                        [ngStyle]="{ 'background-color': background, 'color' : textColor }" [disabled]="isSubmiting">
                        <i class="fa fa-paper-plane" *ngIf="!isSubmiting"></i>
                        <i class="zmdi zmdi-spinner fa-spin" *ngIf="isSubmiting"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>