.box-container {
    max-width:auto; /* Adjust the max-width as needed */
    margin-left:5px;
    padding: 20px; /* Add some padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #fff; /* Set background color */
    margin-top: 35px;
  }
  
  .box-title {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px 0px 20px;
    padding: 0px;
    text-align: center;
    text-indent: 0px;
}

  
  .table-container {
    overflow-x: hidden; /* Add horizontal scroll if needed */
    overflow-y: auto; /* Add vertical scroll if needed */

  }
  
  .table-container table {
    width: 100%;
    margin-left: 12px;
  }
  