

@import "./assets/switcher/css/switcher.css";
@import "./assets/switcher/demo.css";
// @import "material-icons/iconfont/material-icons.scss"

@import "../node_modules/ngx-toastr/toastr.css";

@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or



// @import "./assets/plugins/bootstrap/css/bootstrap.css";
@import "./assets/css/style.css";
@import "./assets/switcher/demo.css";
@import "./assets/switcher/css/switcher.css";
@import "./assets/css/icons.css";
@import "./assets/css/plugins.css";
@import "./assets/scss/variables";
// @import '~bootstrap/scss/bootstrap';


html, body {
  height: 100%;
  margin: 0;
}

body:not(.horizontal-hover) .slide-menu.open {
  display: block !important;
}

body:not(.horizontal-hover) .sub-slide-menu.open {
  display: block !important;
}

/* Importing Bootstrap SCSS file. */

.jumps-prevent {
  padding-top: 35px !important;
}

.chart-circle {
  display: block !important;
}

.table> :not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  // border-bottom-width: 1px;
  // box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg)
}
.customtoast{
  background-color: grey;
  color: white;
  border: 2px solid grey;
  position: fixed;
    z-index: 999999; 
    left: 50%;
}
.horizontal {
  .app-sidebar {

    .ng-scrollbar-wrapper,
    .ng-scroll-viewport-wrapper,
    .ng-scroll-layer,
    .ng-scroll-viewport {
      position: initial;
    }

    .ng-scroll-viewport {
      contain: unset;
    }

    .ng-scroll-viewport-wrapper {
      // overflow: auto;
    }

    [_nghost-guy-c128]>.ng-scrollbar-wrapper[verticalUsed="true"][_ngcontent-guy-c128]>.ng-scroll-viewport-wrapper[_ngcontent-guy-c128]>.ng-scroll-viewport[_ngcontent-guy-c128],
    [_nghost-guy-c128]>.ng-scrollbar-wrapper[verticalUsed="true"][_ngcontent-guy-c128]>.ng-scroll-viewport-wrapper[_ngcontent-guy-c128]>*[_ngcontent-guy-c128]>*[_ngcontent-guy-c128]>.ng-scroll-viewport {
      overflow: auto;
    }
  }
}

.NgxEditor__Content {
  height: 15rem;
}

.app-header .container-fluid.main-container div:first-child {
  align-items: center !important;
}

.rtl {
  .ng-dropdown-panel {
    right: 0;
    left: inherit;
  }

  .owl-nav .owl-prev {
    right: 0px;
  }

  .owl-nav .owl-next {
    left: 7px;
  }

  .fa.fa-angle-double-right {
    transform: rotate(180deg);
  }

  .inbox-pagination a.np-btn {
    i {
      transform: rotate(180deg);
    }
  }

  .ng-scroll-content {
    direction: rtl;
    text-align: right;
  }

  .selected-list .c-list .c-token {
    float: right;
  }

  ngx-material-timepicker-container {
    direction: ltr;
  }

  .apexcharts-yaxis {
    text {
      text-anchor: start;
    }
  }
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled="false"] {
  background-color: rgb(245 245 245);
}

.dark-mode {
  //   .demo_changer .form_holder{
  //     background-color: var(--dark-body)!important;
  //   }
  //  .header.top-header{
  //   background-color: var(--dark-body);
  //  }
  //   .main-sidebar-header{
  //   background-color: var(--dark-body);

  //  }
  .cal-month-view .cal-day-cell.cal-today {
    background-color: var(--dark-theme) !important;
  }

  .dropdown-list {
    background-color: var(--dark-theme);
    border-color: $dark-border;
  }

  .NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
    background-color: var(--dark-theme);
  }

  .NgxEditor__Popup {
    background-color: var(--dark-theme);
  }

  .NgxEditor {
    color: $dark-color;
  }

  .table {
    border-color: $dark-border;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    color: $dark-color;
  }

  .app.sidebar-mini.sidenav-toggled.sidenav-toggled-open .desktop-logo.logo-light {
    display: block !important;
  }

  //   .desktop-logo.logo-dark {
  //     display: none!important;
  // }

  .ae-font .ae-picker-label svg .ae-stroke {
    stroke: var(--bs-white);
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--dark-color);
  }

  pre code {
    background: none;
  }

  apx-chart {
    color: var(--dark-color);
  }

  pre {
    background-color: var(--dark-body) !important;
  }

  .app.sidebar-mini.sidenav-toggled .main-sidebar-header .main-logo {
    display: none;
  }

  .ng5-slider .ng5-slider-bar-wrapper {
    z-index: 0 !important;
  }

  .NgxEditor {
    border-color: var(--dark-border);
  }

  .card-pay .tabs-menu li a {
    svg {
      fill: var(--dark-color);
    }
  }

  .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .btn-white {
    color: var(--dark-color);
    background-color: var(--dark-theme);
    border-color: var(--dark-border);
  }

  .angular-editor-toolbar,
  .ae-picker-label {
    background-color: var(--dark-body) !important;
    border-color: var(--dark-border) !important;
    color: var(--dark-color);

    .angular-editor-button {
      background-color: var(--dark-body) !important;
      border-color: var(--dark-border) !important;
      color: var(--dark-color);
    }
  }

  .ae-font .ae-picker-label:before {
    background: linear-gradient(to right,
        var(--dark-body),
        var(--dark-body) 100%);
  }

  .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    border-color: var(--dark-border) !important;
    outline: none;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: var(--dark-body);
  }

  .ng-dropdown-panel {
    background-color: var(--dark-body);
    border-color: var(--dark-border);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--dark-body);
    color: var(--dark-color);
  }

  .mat-mdc-paginator,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--dark-body);
    color: var(--dark-color);
  }

  .ng-star-inserted {
    input {
      background: transparent;
    }
  }

  .ngb-dp-header,
  .form-select,
  .ngb-dp-weekdays {
    background-color: var(--dark-body);
    color: var(--dark-color);
    border-color: var(--dark-border);
  }

  .cal-month-view {
    background-color: var(--dark-body);
  }

  .cal-month-view .cal-cell-row:hover {
    background-color: transparent !important;
  }

  .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: var(--dark-border) !important;
  }

  .c-btn {
    background-color: var(--dark-theme);
    border-color: var(--dark-border);
  }

  .list-area {
    background-color: var(--dark-body);
  }

  .selected-item,
  .dropdown-list ul li:hover {
    background-color: var(--dark-border);
  }

  [_nghost-sye-c515] {
    background: var(--dark-body);
  }

  .table {
    background-color: var(--dark-body);

    .mdc-data-table__cell {
      color: var(--dark-color);
    }

    .mat-mdc-paginator {
      background: var(--dark-color);
      color: var(--dark-color);
    }

    .app-accordions {
      .panel-title {
        background-color: var(--dark-body);
      }

      .accrodion-button {
        color: var(--dark-color);
        background: var(--dark-color);
      }
    }
  }

  .ng-select .ng-select-container {
    color: var(--dark-color);
    background-color: var(--dark-theme);
    border-color: var(--dark-border);
  }

  .c-btn.disabled {
    background: var(--dark-theme) !important;
  }

  ngx-dropzone {
    background-color: var(--dark-theme);
  }

  .md-drppicker .calendar-table {
    border-color: var(--dark-border);
    background-color: var(--dark-body);
  }

  .md-drppicker {
    background-color: var(--dark-body);
  }

  .btn-default:not(:disabled):not(.disabled):active,
  .btn-default:not(:disabled):not(.disabled).active {
    background-color: var(--dark-body);
  }

  .mat-horizontal-content-container {
    background-color: var(--dark-body);
  }

  .mat-step-header {
    background-color: var(--dark-body) !important;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--dark-color);
  }

  .form-control {
    color: var(--dark-color);
  }

  .NgxEditor__MenuBar {
    border-color: var(--dark-border) !important;
    color: var(--dark-color);
    background: transparent !important;
  }

  .NgxEditor {
    background: transparent !important;
  }

  .angular-editor-toolbar {
    background-color: var(--dark-body);
  }

  .angular-editor-textarea {
    border-color: var(--dark-border) !important;
  }

  .input-group-text {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
  }

  #checkoutsteps .item {
    border-bottom-color: var(--dark-border);
    background-color: transparent;
  }

  .custom-select {
    background: var(--dark-body);
  }

  .accordion-button {
    background-color: var(--dark-theme);
    color: var(--dark-color);
  }

  .accordion-item .accordion-body {
    background-color: var(--dark-body);
    color: var(--dark-color);
  }

  .swal2-popup {
    background-color: var(--dark-body);
  }
}

.carousel-indicators {
  width: 0px;
}

.color-header,
.dark-header {
  .nav-link {
    color: var(--white) !important;
  }
}

.input-group .btn {
  z-index: 0;
}

.btn-group>.btn.active {
  z-index: 0;
}

.alert-dismissible .btn-close {
  z-index: 0;
}

#external-events {
  z-index: 0;
}

ngx-dropzone-label {
  z-index: 0 !important;
}

// .text-muted {
//   color: var(--bs-white) !important;
// }
.input-group-text {
  background-color: var(--primary-bg-color);
}

.tab_wrapper>ul {
  display: flex;
}

ks-modal-gallery {
  background-color: #000;
}

.cdk-overlay-container {
  z-index: 1040;
}

.ng-select .ng-select-container {
  min-height: 38.5px;

  &:after {
    content: none;
  }
}

.btn-primary {
  background-color: var(--primary-bg-color) !important;
}

.header-notify {
  .dropdown-menu {
    min-width: 18rem;
  }
}

.ng-scrollbar-track {
  z-index: 0 !important;
}

.ng5-slider .ng5-slider-bar-wrapper {
  z-index: 0 !important;
}

.ng-dropdown-panel.ng-select-top {
  width: 5rem;
}

.ng-select .ng-select-container .ng-value-container {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.crypto-select {
  .ng-select-container {
    border: 0;
    border-radius: 0;
  }
}

.ng-scrollbar-wrapper>scrollbar-y.scrollbar-control {
  width: 2px !important;
}

.ng-scrollbar-wrapper[deactivated="false"][dir="ltr"]>scrollbar-y.scrollbar-control {
  left: 0 !important;
  right: inherit !important;
}

.mat-vertical-content {
  overflow: auto;
}

@media (max-width: 576px) {
  .apex-piechart {
    svg {
      width: 95% !important;
      overflow: visible;
    }
  }

  .sizes {
    .input-indec1 {
      width: 55% !important;
    }
  }
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  margin-top: -1px !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  line-height: 2;
}

@media (min-width: 992px) {
  .horizontal .slide {
    margin-top: 5px;
  }
}

.alert-dismissible .btn-close {
  display: none;
}

.btn-secondary {
  color: #fff;
  background: #0099ff !important;
  border-color: #0099ff;
}

.circle-chart strong {
  left: 10px;

  line-height: 4.5;
}

.horizontal .main-sidemenu .slide.is-expanded i.angle {
  transform: rotate(90deg);
  position: relative;
  inset-block-start: 0px;
  font-size: 15px;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  right: 5px;
}

.dropdown-menu {
  z-index: 9;
}

.apexcharts-menu-icon,
.apexcharts-reset-icon,
.apexcharts-zoom-icon {
  display: none;
}

.apexcharts-canvas,
.apexcharts-canvas svg {
  left: -2px;
}

.buynow .money-bag,
.free-img {
  margin: 0 auto;
  display: block;
  margin-top: -20px;
}

@media (min-width: 992px) {
  .buynow.modal-dialog {
    max-width: 800px !important;
  }
}

.buynow .modal-content {
  background-color: transparent;
  border: 0px solid;
}

.buynow .card {
  background-color: transparent;
}

.buynow .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.45rem 0.8rem;
  clear: both;
  font-weight: 400;
  color: #576074;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 15px;
}

.buynow .dropdown-item:hover {
  background-color: #f5f4ff !important;
}

.buynow .btn {
  padding: 0.375rem 0.75rem;
}

.buynow .dropdown-menu {
  border-radius: 5px !important;
  background-color: #ffffff;
  border: 1px solid #ffffff8a;
  box-shadow: 0 0px 90px rgb(155 153 153 / 48%) !important;
}

.buynow .card-block {
  border: 1px solid rgb(231 229 245 / 11%) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(255 255 255 / 6%);
  top: 0;
  bottom: 0;
  background: #6a1cbb69;
  left: 0;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
}

@media (max-width: 480px) {
  .buynow .card .btn {
    display: initial !important;
  }
}

.buynow.modal .btn-close:focus {
  box-shadow: none;
}

.buynow .buynow-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #000000a8;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  outline: 0;
  background-size: cover !important;
}

.buynow .modal-dialog .image-top {
  margin-top: -10px !important;
}

.buynow .modal-dialog .card-block {
  background: #6a1cbbbf;
}

.buynow .regular-license {
  z-index: 9;
}

.border-0 {
  border: 0px !important;
}

.modal .modal-header {
  padding: 10px 20px;
}

@media (max-width: 480px) {
  .buynow .modal-dialog .modal-body {
    margin: 15px;
  }
}

.buynow.modal-dialog .btn-close {
  position: absolute;
  float: right;
  margin-right: auto;
  right: 33px;
  top: 33px;
  padding: 6px;
  background-image: none;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  line-height: 1;
}

.buynow.modal-dialog .btn-close span {
  color: #fff;
  font-size: 24px;
  padding: 9px 0px;
  line-height: 0.6;
  opacity: 0.5;
}

.lh-xs {
  line-height: 0.75 !important;
  margin-top: 6px;
}

.buynow .license-view {
  text-align: center;
  text-decoration: underline;
}

.buynow .license-view a {
  padding: 10px;
  border-radius: 5px;
}

.buynow .license-view a:hover {
  padding: 10px;
  background-color: rgb(255 255 255 / 12%);
  border-radius: 5px;
}

.bg-image-style {
  background-image: url(./assets/switcher/img/15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  position: relative;
  border-radius: 0px;
}

.bg-image-style::before {
  content: "";
  background-color: #ffffffa6;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  position: absolute;
}

.buynow .modal-backdrop {
  background-color: #000000b8;
}

.buynow .card-body.imag-list {
  overflow: visible;
}

.buynow .imag-list {
  position: relative;
  content: "";
  left: 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  z-index: 1;
}

.buynow .imag-list::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 7px;
  position: absolute;
  background: #6a1cbb82;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.buynow .buynow-bg {
  z-index: 0;
  border: 0px #000 solid !important;
}

.buynow .buynow-bg::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  position: absolute;
  background: #000000b3;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.buynow .Licenses-img {
  border: 1px solid #ffffff2e;
  border-radius: 7px;
}

.modal.buynow .modal-body .card {
  background: transparent;
}

.modal-backdrop {
  z-index: 1000000000 !important;
}

.modal {
  z-index: 1000000000;
}

.buynow.modal-dialog .btn-close span {
  padding: 8px 0px;
  line-height: 0;
  /* opacity: 0.5; */
}

.dark-mode {
  c-icon {
    filter: invert(1);
  }
}

.ng-select.ng-select-opened .ng-select-container {
  z-index: 99 !important;
}

// .dark-mode.app.sidebar-mini.sidenav-toggled .main-sidebar-header .main-logo{
//   display: none !important;
// }
ng-dropdown-panel {
  z-index: 1 !important;
}

.br-movie .br-unit-inner {
  width: 55px;
}

// #back-to-top {
//   bottom: 150px;
// }

.demo_changer {
  z-index: 9999999999 !important;
}

.ql-editor {
  height: 15rem !important;
}

.side-menu__item {
  cursor: pointer;
}

.ngx-colors-overlay {
  z-index: 9999999999 !important;
}

ng-scrollbar {
  --scrollbar-size: 0px;
}

.file-manager .chat {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.ng-select .ng-select-container .ng-value-container {
  &:before {
    content: "";
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 100%;
    margin-left: -20px;
    margin-top: -2px;
    top: 50%;
    width: 0;
  }

  .ng-placeholder {
    height: 0;
    left: 28px;
    margin-left: -19px;
    margin-top: -11px;
    color: #596882;
    top: 50%;
    width: 0;
  }
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(-0.08125em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-filtered .ng-select-container .ng-placeholder {
  display: none;
}

@media (min-width: 992px) {
  .horizontal .side-menu__item .angle {
    transform: rotate(90deg);
  }
}

.horizontal .main-sidemenu .slide.is-expanded i.angle {
  transform: rotate(-90deg);
  position: relative;
  inset-block-start: 0px;
  font-size: 15px;
}

.horizontal .side-menu__label {
  line-height: 0;
}

.rtl {
  .side-menu__item .angle {
    transform: rotate(180deg);
  }

  .slide.is-expanded .angle {
    transform: rotate(90deg) !important;
  }
}

@media (min-width: 992px) {
  .horizontal .horizontal-main {
    z-index: 8;
  }
}

@media (max-width: 991px) {
  .app-header .header-brand .header-brand-img {
    margin-top: -3px;
  }
}

@media (max-width: 400px) {
  #external-events-1 .btn-group .btn {
    padding: 3px 6px !important;
  }
}

.table-bordered> :not(caption)>* {
  border-color: $border !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__trailing {
  border-color: $border !important;
}

.dark-mode {
  div:where(.swal2-container) .swal2-html-container {
    color: var(--dark-color);
  }

  .accordion-item {
    border-color: var(--dark-body) !important;
    overflow: hidden;
  }

  .accordion-button::after {
    filter: contrast(0.5);
  }

  input {
    caret-color: var(--dark-color);
  }

  .ng-select.ng-select-disabled>.ng-select-container {
    background-color: var(--dark-body);
  }

  .ng-dropdown-panel-items {
    .ng-option-disabled {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .br-square .br-unit-inner {
    background-color: var(--dark-body);
  }

  .cal-month-view .cal-days {
    border-color: var(--dark-border) !important;
  }

  .ae-font .ae-picker-label:before {
    background-color: var(--dark-body) !important;
  }

  .ae-font .ae-picker-label:hover:before {
    background: var(--dark-body) !important;
  }

  .modal-body pre {
    background-color: var(--dark-body);
  }

  .table-bordered> :not(caption)>* {
    border-color: var(--dark-border) !important;
  }

  .mat-mdc-select-arrow svg,
  .mat-mdc-select-min-line {
    color: rgb(255 255 255 / 50%);
    fill: rgb(255 255 255 / 50%);
  }

  .mat-mdc-icon-button:disabled .mat-mdc-paginator-icon {
    color: rgb(255 255 255 / 30%);
    fill: rgb(255 255 255 / 30%);
  }

  .mat-mdc-icon-button.mat-mdc-button-base .mat-mdc-paginator-icon {
    color: rgb(255 255 255 / 80%);
    fill: rgb(255 255 255 / 80%);
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing {
    border-color: var(--dark-border) !important;
  }

  .ae-font.ae-expanded .ae-picker-options {
    background-color: var(--dark-body);
    color: var(--dark-color);
    border-color: var(--dark-border);
  }

  .ae-font .ae-picker-options .ae-picker-item {
    color: var(--dark-color);
  }

  div.mat-mdc-select-panel {
    background-color: var(--dark-body);
    color: var(--dark-color);

    .mdc-list-item__primary-text {
      color: var(--dark-color);
    }
  }

  .blog-edit {
    .ng-select-container {
      border-color: var(--dark-border) !important;
    }

    .NgxEditor__Dropdown:hover {
      background-color: var(--dark-body);
    }
  }

  .NgxEditor__Popup--Form {
    input {
      border-color: var(--dark-border) !important;
      background-color: transparent;
      color: var(--dark-color);
    }

    button {
      color: var(--dark-color) !important;
    }
  }

  .ng-dropdown-header {
    border-color: var(--dark-border) !important;

    input {
      border-color: var(--dark-border) !important;
      color: var(--dark-color);
    }
  }

  .ng-select .ng-clear-wrapper {
    color: rgba(255, 255, 255, 0.5);
  }

  .NgxEditor__Popup {
    border: 1px solid var(--dark-border);
  }

  .NgxEditor__MenuItem.NgxEditor__MenuItem--Active,
  .NgxEditor__MenuItem .NgxEditor__MenuItem--Active {
    background-color: var(--dark-body);
    color: var(--dark-color);
  }

  .NgxEditor__Dropdown .NgxEditor__Dropdown--Selected,
  .NgxEditor__Dropdown .NgxEditor__Dropdown--Open {
    background-color: var(--dark-body);
    color: var(--dark-color);
  }

  .msb-reply .input-group-text {
    background-color: transparent;
  }

  .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    color: rgba(255, 255, 255, 0.5);
  }
}

.blog-edit {

  .category,
  .instructor {
    .form-control {
      border-width: 0px;
    }
  }

  .ng-select-container {
    border-color: $border !important;
  }

  .ng-dropdown-panel.ng-select-bottom {
    top: calc(100% - 0.25em);
  }

  .ng-select.ng-select-opened .ng-select-container {
    z-index: 1 !important;
  }
}

.NgxEditor__Popup--Form {
  input {
    border: 1px solid $border !important;
    color: $color;
  }

  button {
    color: $color !important;
  }
}

.categories-section {
  .ng-select.ng-select-opened .ng-select-container {
    z-index: 97 !important;
  }
}

.modal-header .btn-close {
  box-shadow: none;
}

.date-of-birth-section {
  .ng-dropdown-panel.ng-select-bottom {
    top: 38px;
  }

  .custom-select {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
}

.ng-select .ng-select-container .ng-value-container:before {
  display: none;
}

.ng-dropdown-header {
  input {
    border: 1px solid $border;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: $primary;
  color: #fff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: $primary;
  color: #fff;
}

.select2-with-search {
  .ng-select {
    padding-bottom: 0px;
  }

  .ng-dropdown-panel.ng-select-bottom {
    top: 38px;
  }
}

.time-picker {
  .ng-dropdown-panel.ng-select-bottom {
    top: 40px;
  }

  .ng-select .ng-select-container {
    border-width: 0px;
  }
}

.single-select-style,
.multiple-select-styles,
.multiple-select-styles,
.date-of-birth-section,
.select2-more-elements,
.select2-with-search,
.time-picker {
  .ng-select.ng-select-opened .ng-select-container {
    z-index: 98 !important;
  }

  .ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
    padding-top: 0px;
    margin-top: -4px;
  }

  .ng-select .ng-clear-wrapper {
    padding-top: 0px;
    margin-top: -10px;
  }

  .ng-arrow-wrapper {
    padding-top: 0px;
    margin-top: -10px;
  }
}

.rtl {
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    padding-left: 0px;
    padding-right: 5px;
  }
}

@media (max-width: 400px) {
  .switches {
    .list-group-item {
      display: grid;

      .material-switch {
        margin-block-start: 10px;
      }
    }
  }
}

.ae-font .ae-picker-options .ae-picker-item.focused,
.ae-font .ae-picker-options .ae-picker-item:hover {
  background-color: $primary !important;
  color: #fff !important;
}

.angular-editor-toolbar[_ngcontent-ng-c834769704] .angular-editor-toolbar-set[_ngcontent-ng-c834769704] .angular-editor-button.active[_ngcontent-ng-c834769704] {
  background-color: $primary !important;
  color: #fff !important;
}

pre code {
  background-color: transparent !important;
}

.angular-editor-textarea {
  outline-color: $border;
}

.ae-font .ae-picker-label:hover {
  background-color: $primary !important;
  color: #fff !important;
}

.dark-mode .mat-stepper-horizontal,
.dark-mode .mat-stepper-vertical {
  background-color: var(--dark-theme) !important;
}

.dark-mode {
  .form-control:focus {
    border-color: $primary !important;
  }

  .sales-summary,
  .product-summary,
  .trending-table {
    .table {
      background-color: var(--dark-theme) !important;
    }
  }

  @media (max-width: 767px) {
    #checkoutsteps ul {
      li:nth-child(2) {
        border-bottom-color: var(--dark-border);
        border-top-color: var(--dark-border);
      }
    }
  }

  @media (max-width: 1340px) and (min-width: 1280px) {
    #checkoutsteps ul {
      li:nth-child(2) {
        border-bottom-color: var(--dark-border);
        border-top-color: var(--dark-border);
      }
    }
  }

  .table-inbox {
    tr {
      border-color: var(--dark-border) !important;
    }
  }

  .NgxEditor__MenuBar {
    border-color: var(--dark-border) !important;
  }

  .mat-step-header .mat-step-icon {
    background-color: var(--dark-body) !important;
    color: var(--dark-color);
  }

  .mat-step-header {
    background-color: var(--dark-theme) !important;
  }

  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $primary !important;
    color: #fff !important;
  }

  .mat-stepper-vertical-line::before {
    border-color: var(--dark-border) !important;
  }

  .mat-horizontal-content-container {
    background-color: var(--dark-theme) !important;
  }

  .apexcharts-canvas text {
    fill: var(--dark-color);
  }

  .edit-profile {
    .date-of-birth-section {
      .ng-select .ng-select-container {
        border-color: var(--dark-border) !important;
      }
    }
  }
}

.apexcharts-canvas text {
  fill: $color;
}

.NgxEditor__MenuBar {
  background: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom-width: 0px !important;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $primary !important;
  color: #fff !important;
}

.mat-step-header .mat-step-icon {
  background-color: $background;
  color: $color;
}

.polar-charts .chartjs-wrapper-demo {
  margin-block-start: 50px;
  margin-block-end: 22px;
}

.edit-profile {
  .date-of-birth-section {
    .form-control {
      border-width: 0px;
      border-color: $border !important;
    }

    .ng-select .ng-select-container {
      border-color: $border !important;
    }

    .ng-select.ng-select-opened .ng-select-container {
      z-index: 6 !important;
    }
  }
}

.table-inbox {
  tr {
    border-color: $border !important;
  }
}

.shop-category {
  .ng-select .ng-select-container {
    border-color: $border !important;
  }

  .ng-select.ng-select-opened .ng-select-container {
    z-index: 6 !important;
  }
}

@media (max-width: 767px) {
  #checkoutsteps ul {
    display: block;

    li {
      display: block !important;
      width: 100%;

      a {
        font-size: 15px;
        font-weight: 500;
      }
    }

    li:nth-child(2) {
      border-bottom: 1px solid $border;
      border-top: 1px solid $border;
    }
  }
}

@media (max-width: 400px) {
  #checkoutsteps ul {
    li a {
      padding: 0.5rem 0.2rem;
    }
  }
}

@media (max-width: 1340px) and (min-width: 1280px) {
  #checkoutsteps ul {
    li a {
      padding: 0.5rem 0.2rem;
    }
  }

  #checkoutsteps ul {
    display: block;

    li {
      display: block !important;
      width: 100%;

      a {
        font-size: 15px;
        font-weight: 500;
      }
    }

    li:nth-child(2) {
      border-bottom: 1px solid $border;
      border-top: 1px solid $border;
    }
  }
}

.weather-card .bottom .wrapper .forecast li .condition .temp {
  padding-inline-start: 11px;
}

.sales-summary {
  .ng-dropdown-panel.ng-select-top {
    bottom: 55px;
  }
}

.ltr .sales-summary {
  .ng-dropdown-panel.ng-select-top {
    bottom: 43px;
  }
}

.rtl .sales-summary {
  .ng-dropdown-panel.ng-select-top {
    bottom: 43px !important;
  }
}

.rtl {
  .sales-1 p {
    position: inherit;
    z-index: 10;
  }
}

.ng-dropdown-panel.ng-select-top {
  bottom: 40px;
}

.crypto-section {
  .ng-select.ng-select-opened .ng-select-container {
    z-index: 9 !important;
  }

  .ng-dropdown-panel.ng-select-bottom {
    top: 40px;
  }

  .ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
    padding-top: 0px;
    margin-top: -4px;
  }

  .ng-select .ng-clear-wrapper {
    padding-top: 0px;
    margin-top: -10px;
  }

  .ng-arrow-wrapper {
    padding-top: 0px;
    margin-top: -10px;
  }
}

@media (max-width: 1101px) {
  .rtl .social-report {
    tr td:last-child {
      border-left-width: 2px !important;
    }
  }
}

.sidebar .tabs-menu ul li a {
  margin: 2px 0px 9px 6px !important;
}

@media (max-width: 379px) {
  .default-alert .alert {
    padding-inline-end: 40px;
  }
}

@media (min-width: 380px) and (max-width: 488px) {
  .default-alert .alert {
    padding-inline-end: 45px;
  }
}

@media (min-width: 506px) and (max-width: 528px) {
  .alert {
    display: flow-root;
  }
}

.mt-11 {
  margin-top: 11rem !important;
}

.dropdown-toggle:after {
  vertical-align: 0.155em;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.rtl .dropdown-menu[data-popper-placement^="top"],
.rtl .dropdown-menu[data-popper-placement^="right"],
.rtl .dropdown-menu[data-popper-placement^="bottom"],
.rtl .dropdown-menu[data-popper-placement^="left"] {
  left: auto !important;
  right: inherit !important;
}

.carousel-section {
  .owl-nav {
    .owl-prev {
      top: 33% !important;
    }

    .owl-next {
      top: 33% !important;
    }
  }
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: rgb(0 0 0 / 50%);
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.file-details {
  .table th {
    padding: 13.8px !important;
  }
}

.demo_changer {
  box-shadow: 0 0 0 1px rgba(61, 119, 180, 0.12),
    0 8px 16px 0 rgba(91, 139, 199, 0.24);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.c3-tooltip-container {
  z-index: 0;
}

.chat {
  .ah-actions {
    .dropdown-toggle::after {
      display: none;
    }
  }
}

.apexcharts-canvas svg {
  overflow: visible !important;
}

.ng-dropdown-panel.ng-select-top {
  width: 100% !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked .ng-tag-label {
  color: #ffffff
}

.light-menu {
  .demo-icon.nav-link.icon {
    color: #000;
  }
}

.ng-dropdown-panel.ng-select-top {
  bottom: auto !important;
}

// .ng-dropdown-panel .ng-dropdown-panel-items{
//   height: 150px !important;
// }

.ng-select-filtered {
  .ng-dropdown-panel-items {
    height: auto !important;
  }
}

.dark-mode {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(255 255 255 / 87%);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    color: rgb(255 255 255 / 87%);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: rgb(255 255 255 / 54%);
  }

  .NgxEditor__Dropdown .NgxEditor__Dropdown--Active {
    background-color: var(--dark-body);
  }

  .NgxEditor__MenuItem--Button {
    background-color: var(--dark-body);
    color: white;
    border-radius: 5px;
  }

  .shop-category .ng-select .ng-select-container {
    border-color: var(--dark-border) !important;
  }

  .mat-stepper-horizontal-line {
    filter: invert(1);
  }

  .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: white;
  }

  .md-drppicker td.off,
  .md-drppicker td.off.in-range,
  .md-drppicker td.off.start-date,
  .md-drppicker td.off.end-date {
    color: $dark-color;
    background-color: $dark-theme;
  }

  .month.drp-animate,
  .month {
    color: $dark-color !important;
  }

  .md-drppicker td.in-range {
    background-color: $dark-theme !important;
  }

  .md-drppicker td.available:hover,
  .md-drppicker th.available:hover {
    background-color: $dark-theme !important;
  }

  .week-days {
    th {
      color: $dark-color !important;
    }
  }

  .prev,
  .next {
    &.available {
      filter: contrast(0.5);
    }
  }

  .mat-datepicker-content {
    background-color: var(--dark-body);
  }

}

.dropdown-toggle::after {
  display: none;
}

.rtl {
  ngx-colors-panel {
    left: 294.9688px !important;
  }
}

.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
  height: auto;
}

.rtl .sales-1 p {
  z-index: 1;
}

.rtl .dropdown-menu-content {
  .dropdown-item {
    .fe-chevron-right {
      transform: rotate(180deg);
    }
  }
}

.rtl {
  .mdc-icon-button {
    .fa-chevron-right {
      transform: rotate(180deg);
    }
  }

  .mat-calendar-arrow {
    margin-left: 5px !important;
  }

  .mat-calendar-previous-button::after {
    transform: translateX(2px) rotate(136deg);
  }

  .mat-calendar-next-button::after {
    transform: translateX(2px) rotate(-136deg);
  }

  .form-group .select2 .ng-select-container {
    direction: ltr;
  }

  .side-menu {
    .side-menu__item {
      .angle {
        margin-right: 5px !important;
      }
    }
  }

  .sub-slide .sub-angle {
    transform: rotate(180deg);
  }
}

.carousel-section .owl-nav .owl-prev {
  left: -4px;
}

.carousel-section .owl-nav .owl-next {
  right: -5px;
}

.inbox-body {
  .dropdown-item {
    a {
      padding: 0px !important;
    }
  }
}

.dark-mode {
  .mat-mdc-icon-button svg {
    fill: $dark-color;
  }

  .mat-mdc-button:not(:disabled) {
    color: $dark-color !important;
    border-color: $dark-border !important;
  }

  .mat-calendar-table-header th {
    color: $dark-color !important;
    border-color: $dark-border !important;
  }

  .mat-calendar-body-cell-content,
  .mat-calendar-body-label {
    color: $dark-color !important;
    border-color: $dark-border !important;
  }

  .mat-calendar-previous-button::after {
    border-left-width: 2px;
    transform: translateX(2px) rotate(136deg);
    border-color: $dark-border !important;
  }

  .mat-calendar-next-button::after {
    border-color: $dark-border !important;
  }

  .mat-calendar-arrow {
    fill: $dark-border !important;
  }

  .mat-calendar-table-header-divider::after {
    background: $dark-border !important;
  }
}

.mat-mdc-icon-button {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mat-step-icon .mat-icon {
  font-size: 11px !important;
}

//toast
.toast-success
{
  background-color: var(--success);
}

.toast-error
{
  background-color: var(--danger);
}

@media (max-width: 320px) {
  .countdown-timer-wrapper .timer {
    padding: 0 !important;
  }
}


.is-countdown {
  display: flex;
  justify-content: space-evenly;

  .clock-presenter {
    padding: 8px 14px;
  }
}

#countdown {
  margin: 0px auto 20px auto;
}

.is-countdown .clock-presenter {
  display: inline-block;
  font-size: 1.83rem;
  font-weight: bold;
  width: 126px;
  height: 84px;
  line-height: 22px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (min-width: 992px) {
  .is-countdown .clock-presenter {
    margin: 30px 10px 5px 0;
  }
}

@media (max-width: 991px) {
  .is-countdown .clock-presenter {
    margin: 20px 10px 10px 10px;
  }
}

@media (min-width: 992px) {
  .is-countdown .clock-presenter {
    margin: 30px 10px 5px 10px !important;
  }
}

.is-countdown span:first-child {
  font-size: 30px;
}

.is-countdown .time {
  font-size: 13px;
  padding-block-start: 2px;
  font-weight: 300;
}

.is-countdown .clock-presenter {
  display: inline-block;
  font-size: 1.83rem;
  font-weight: bold;
  min-width: 88px;
  height: 88px;
  border-radius: 3px;
  line-height: 22px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: rgb(var(--volgh-white-rgb));
  z-index: 1;
  border: 5px solid rgb(var(--volgh-white-rgb));
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: #fff !important;
  overflow: visible;

  p {
    position: absolute;
    font-size: 18px;
    text-align: justify;
  }
}

@media (max-width: 991px) {
  .is-countdown {
    margin-block-start: 20px;
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .is-countdown {
    display: block !important;
  }
}

.is-countdown {
  margin: 0px auto 20px auto;
}

@media (max-width: 991px) {
  .is-countdown .clock-presenter {
    margin: 20px 10px 10px 10px;
  }
}

@media (max-width: 991px) {
  .header-search .dropdown-item .btn {
    height: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media (max-width: 991px) {
  .rtl {
    .header-search .dropdown-item .btn {
      height: 36px;
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }
}

.trending-table tbody tr:not(:last-child) {
  td {
    padding-bottom: 10.8px !important;
  }
}

.sales-summary .ng-select-searchable {
  position: absolute !important;
  top: 17px;
  right: 24px;
}

.horizontal-hover,
.horizontal {
  .header-brand-img {
    margin-top: 3px !important;
  }

  .ng-scroll-content {
    display: block;
  }
}

.cart {
  .select2 {
    position: absolute;
    width: 14.5%;
  }
}

.card-pay .tabs-menu li a {
  width: 100%;
}

.dark-mode {

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    background-color: $primary !important;
    color: #fff !important;
  }

  ::-webkit-scrollbar-track {
    background-color: $dark-theme !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $dark-color ;
    -webkit-box-shadow: 0 0 0px 1000px $dark-theme inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  ngx-dropzone-preview {
    background-color: $dark-body !important;
    color: $dark-color !important;
    background-image: none;
  }

  .btn-default:not(:disabled):not(.disabled):active,
  .btn-default:not(:disabled):not(.disabled).active {
    border-color: $dark-border !important;
  }

  .btn-light:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active {
    background-color: $dark-theme !important;
    color: $dark-color !important;
    border-color: $dark-border !important;
  }
}

ngx-dropzone-preview {
  background-color: $background !important;
  color: $color !important;
  background-image: none !important;
}

.rtl {
  .ng-select .ng-select-container .ng-value-container {
    padding-left: 10px;
}
  .md-drppicker.double {
    width: 64%;
  }

  .ngb-dp-arrow-next .ngb-dp-navigation-chevron {
    transform: rotate(225deg);
  }

  .ngb-dp-navigation-chevron {
    transform: rotate(40deg);
  }
}

.spinner-border
{
  width: 20px;
  height: 20px;
}

.campaign-card.active,
.zauto-card.active
{
  background-color: var(--primary-2) !important;
}

.zauto-card:hover,
.campaign-card:hover
{
  background-color: var(--primary-1) !important;
}

.crm_mapping
{
   width: 40%;
}


