.field
{
    background: #828181;
    padding: 5px 10px;
    border-radius: 5px;
    color: white
    ;
}

.field-outline
{
    border: 2px solid #828181;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.scroll
{
  height: 65vh;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}