<div class="card h-100 shadow-sm" *ngIf="!isLoading">
    <div class="card-header">
        <h4 class="card-title mb-0">{{title}}</h4>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive table-card">
            <table class="table table-bordered text-nowrap">
                <thead class="table-light">
                    <tr>
                        <th *ngFor="let column of columns">{{ column.name }}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="data.length > 0; else noDataTemplate">
                    <tr *ngFor="let row of data">
                        <td *ngFor="let column of columns">{{ row[column.key] }}</td>
                    </tr>
                </ng-container>
                <ng-template #noDataTemplate>
                    <tr class="text-center">
                        <td [attr.colspan]="columns.length">No data found</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
</div>

<ng-container *ngIf="isLoading">
    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10px', height: '24rem'}"></ngx-skeleton-loader>
</ng-container>