<div class="card h-100 shadow-sm" *ngIf="!isLoading">
    <div class="card-body d-flex">
        <div class="card-order">
            <h6 class="mb-2">{{title}}</h6>
            <h2 class="mb-1"><span class="number-font counter">{{counter | counterFormat}}</span></h2>
        </div>
        <div class="ms-auto my-auto">
            <span class="bg-{{color || 'primary'}}-transparent icon-service text-primary">
                <i class="{{icon}}"></i>
            </span>
        </div>
    </div>
</div>
<ng-container *ngIf="isLoading">
    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10px', height: '8rem'}"></ngx-skeleton-loader>
</ng-container>