<div class="container">
    <div class="row mt-5 fixed-vh">
        <div class="col-xl-6 col-lg-8 col-md-10 m-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Setup</h3>
                    <form [formGroup]="launchForm" (ngSubmit)="onAvatarCreate()">
                        <div class="form-group mb-3">
                            <advanced-input [label]="'Company name'" [type]="'text'" [placeholder]="'Company name'"
                                [size]="'md'" [control]="companyName" [isDisabled]="isLoading"
                                [errorMessages]="errorMessages.companyName"></advanced-input>
                        </div>
                        <div class="form-group mb-3">
                            <advanced-input [label]="'Site url'" [type]="'text'" [placeholder]="'https://example.com/'"
                                [size]="'md'" [control]="siteUrl" [isDisabled]="isLoading"
                                [errorMessages]="errorMessages.siteUrl"></advanced-input>
                        </div>
                        <div class="form-group mb-3">
                            <advanced-input [label]="'Agent name'" [type]="'text'" [placeholder]="'Agent name'"
                                [size]="'md'" [control]="avatarName" [isDisabled]="isLoading"
                                [errorMessages]="errorMessages.avatarName"></advanced-input>
                        </div>
                        <advanced-button label="Launch" [size]="'md'" [classes]="'w-100'" [type]="'submit'"
                            [isLoading]="isLoading"></advanced-button>
                    </form>
                </div>
            </div>
            <div class="card shadow-sm border-0" *ngIf="avatar">
                <div class="card-body d-flex align-items-center">
                    <div class="spinner-border text-primary me-3" role="status" *ngIf="avatar.status === 'loading'">

                    </div>
                    <div>

                        <p class="card-text text-muted mb-0">{{ avatar.status }}</p>
                    </div>
                </div>
            </div>

            <!-- <div class="card shadow" *ngIf="false">
                <div class="card-body status_card position-relative">
                    <div class="progress_card">
                        <circle-progress class="chart-circle chart-circle-md text-center w-100 h-100"
                            [percent]="trainingProgress" [radius]="100" [space]="-14" [outerStrokeWidth]="14"
                            [titleColor]="'#edf0f5'" [unitsColor]="'#edf0f5'" [innerStrokeWidth]="14"
                            [showInnerStroke]="true" [outerStrokeColor]="'#edf0f5'" titleFontSize="50" unitsFontSize="50"
                            [startFromZero]="false" [titleFontWeight]="'700'" [unitsFontWeight]="'700'"
                            [innerStrokeColor]="'#622c9e'" [showTitle]="true" [showUnits]="true" [showSubtitle]="false"
                            [animation]="true" [animationDuration]="1000" [renderOnClick]="false">
                        </circle-progress>
                    </div>
                    <div class="card_detail">
                        <div class="d-flex h-100 mb-3">
                            <div class="main-img-user avatar-lg me-2 my-auto">
                                <img alt="avatar" class="rounded-circle" src="{{GLOBAL_IMAGES.default_avatar_image}}">
                            </div>
                            <div class="">
                                <h1 class="mb-0 text-truncate">{{avatar.displayName}}</h1>
                                <h4 class="text-muted text-truncate mb-0">{{avatar.name}}</h4>
                            </div>
                        </div>
                        <h4><i class="fa fa-building-o"></i> {{avatar.companyName}}</h4>
                        <div class="d-flex">
                            <span class="badge badge-{{getStatusColor(avatar.status)}} mb-2 text-truncate my-auto me-2"
                                style="font-size: 0.8rem;">{{avatar.status}}</span>
                            <button *ngIf="avatar.status=='TRAININGFAILED'" class="btn btn-outline-primary btn-sm"
                                (click)="deleteAvatar()"><i class="fa fa-refresh"></i> Retrain</button>
                        </div>
                        <p class="mb-4 text-truncate" style="font-size: 1rem !important;"><i
                                class="fa fa-spinner text-muted status-loader " *ngIf="avatar.status == 'TRAINING'"></i> <i
                                class="text-muted">{{avatar.message}}</i></p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</div>