.status_card
{
    height: 18rem;
    display: flex;
    align-items: center;
    .progress_card
    {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        top: 50%;
        left: 0;
        transform: translate(-25%, -50%);
        height: 75%;
        width: 40%;
        border-radius: 15px;
        background: linear-gradient(to right, #da8cff, #9a55ff) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
    }
    .card_detail
    {
        margin-left: 35%;
    }
}


.status-loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px)
{
    .status_card
    {
        height: auto;
        text-align: center;
        .progress_card
        {
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 70%;
        }
        .card_detail
        {
            margin: auto; 
            margin-top: 30%;
        }
    }
}