<style>
  .badge-container {
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  .badge {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
  }
</style>

<div class="col-lg-12 mt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">ICP</h3>
      <div class="card-options">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addIcp"
          (click)="handleCreate()">
          <i class="fa fa-plus"></i>
          Create ICP
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive mb-3">
        <table class="table border card-table table-vcenter text-nowrap align-items-center">
          <thead class="bg-primary text-white">
            <th class="text-white">Name</th>
            <th class="text-white">Description</th>
            <th class="text-white">Score</th>
            <th class="text-white">Actions</th>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let data of icpdata">
                <td>{{ data.name }}</td>
                <td class="text-truncate" style="max-width: 550px;">{{ data.description }}</td>
                <td>{{ data.score }}</td>
                <td class="icon w-1">
                  <button (click)="handleView(data)"><i class="fa fa-eye text-secondary view"></i></button>
                  <button (click)="handleEdit(data)"><i class="fa fa-edit text-success update"></i></button>
                  <button (click)="handleDelete(data)"><i class="fa fa-trash text-success delete"></i></button>

                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #viewIcpOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><i class="fe fe-cube"></i>ICP Details</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
  </div>
  <hr class="m-0" />
  <div class="offcanvas-body">
    <div *ngIf="selectedData">
      <h4>{{ selectedData.name }}</h4>
      <span>{{ selectedData.description }}</span>
      <div class="mt-3">
        <div *ngFor="let segment of selectedData.segment" class="badge-container">
          <span class="badge" [ngStyle]="{'background-color': segment.segmentCategory.color}">
            {{ segment.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>