<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="fetchUrls()">
                    <label for="url"><i class="fe fe-link"></i> Root URL</label>
                    <div class="input-group">
                        <input type="text" id="url" class="form-control" placeholder="Root URL e.g: www.example.com"
                            name="rootUrl" [(ngModel)]="rootUrl" [disabled]="isLoading">
                        <button class="btn btn-primary" type="submit" [disabled]="isLoading">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title"><i class="fe fe-award"></i> Sites</h5>
                <button class="btn btn-sm btn-outline-primary" (click)="openGenerateGreetings()">Generate greeting</button>
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-3 border-end pe-0">
                        <ul class="fixed-vh scroll-container-v" #scrollContainer>
                            <ng-container *ngIf="!trainedLinks?.data">
                                <li>
                                    <ngx-skeleton-loader count="5"
                                        [theme]="{'border-radius': '0', height: '80px'}"></ngx-skeleton-loader>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="trainedLinks?.data">
                                <li *ngFor="let site of trainedLinks?.data">
                                    <div class="zauto-card" (click)="selectSite(site)"
                                        [ngClass]="{'active':(selectedSite && selectedSite?.id == site?.id)}">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="text-truncate">
                                                    <h5>
                                                        <i class="fe fe-link"></i>
                                                        {{(processUrl(site?.url).pathname.length == 1 ?
                                                        processUrl(site?.url).hostname :
                                                        processUrl(site?.url).pathname)}}
                                                    </h5>
                           
                                                    <div>
                                                        <i class="fe fe-globe"></i> {{processUrl(site?.url)?.hostname}}
                                                    </div>
                           
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <span class="text-success w-100" ngbTooltip="Completed"
                                                    *ngIf="site?.status==='COMPLETED'"><i
                                                        class="fa fa-check-circle"></i></span>
                                                <span class="text-danger w-100" ngbTooltip="Failed"
                                                    *ngIf="site?.status==='FAILED'"><i
                                                        class="fa fa-times-circle"></i></span>
                                                <span class="text-warning w-100" ngbTooltip="In progress"
                                                    *ngIf="site?.status==='IN_PROGRESS'"><i
                                                        class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <ng-container *ngIf="selectedSite">
                            <div class="p-2">
                                <div class="d-flex justify-content-end">
                                    <div ngbDropdown class="d-inline-block">
                                        <a href="javascript:void(0)" class="text-muted" id="dropdownBasic1"
                                            ngbDropdownToggle>
                                            <i class="fe fe-more-horizontal"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem (click)="retrain()"><i
                                                    class="zmdi zmdi-refresh-alt"></i> Retrain</button>
                                            <div class="dropdown-divider"></div>
                                            <button ngbDropdownItem class="text-danger" (click)="deleteSite()">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td><b>Host name :</b> </td>
                                            <td>{{processUrl(selectedSite?.url).hostname || '--'}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>URL :</b> </td>
                                            <td><a href="{{processUrl(selectedSite?.url).href}}">{{processUrl(selectedSite?.url).href
                                                    || '--'}}</a></td>
                                        </tr>
                                        <tr>
                                            <td><b>Info :</b> </td>
                                            <td>{{selectedSite?.info || '--'}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Status :</b></td>
                                            <td>
                                                <div class="badge badge-success"
                                                    *ngIf="selectedSite.status == 'COMPLETED'">COMPLETED</div>
                                                <div class="badge badge-danger" *ngIf="selectedSite.status == 'FAILED'">
                                                    FAILED</div>
                                                <div class="badge badge-warning"
                                                    *ngIf="selectedSite.status == 'IN_PROGRESS'">IN PROGRESS</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Greeting :</b> </td>
                                            <td>{{selectedSite?.greeting || '--'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!selectedSite">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <span class="text-muted">Select Site for more details</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- site list modal -->
<ng-template #siteListModal let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-link"></i> URL List</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="selectAll" (click)="selectAllLinks()"
                [checked]="selectedLinks.length !== 0">
            <label for="selectAll" class="form-check-label"><b>{{this.selectedLinks.length === 0 ?'Select All' :
                    'Unselect All'}}</b></label>
        </div>
        <div class="list-container mb-3">
            <div *ngFor="let link of links;index as i;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{i}}" [checked]="isLinkSelected(link)"
                        (click)="addToSelect(i)">
                    <label for="{{i}}" class="form-check-label">{{link}}</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                    class="fa fa-times"></i> Close</button>
            <button class="btn btn-primary" [disabled]="selectedLinks.length === 0 || isTraing"
                (click)="trainAgent()">{{isTraing ? 'Traing starting...':'Start training'}}</button>
        </div>
    </div>

</ng-template>

<ng-template #generateGreetingOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-link"></i> Generate greetings </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-3">
            <ng-container *ngIf="isGeneratingGreetings">
                <ngx-skeleton-loader count="3" [theme]="{'border-radius': '0', height: '100px'}"></ngx-skeleton-loader>
            </ng-container>
            <ng-container *ngIf="!isGeneratingGreetings && generatedGreetings.length > 0">
                <ul>
                    <li *ngFor="let link of generatedGreetings;index as i;">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 py-auto">
                                        <label class="custom-control custom-checkbox mb-0 align-middle" >
                                            <input type="checkbox" name="lead-only"  (click)="selectFromGenerated(link)"
                                              class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="col-10">
                                        <div><strong>{{link?.url}}</strong></div>
                                        <div>{{link?.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary w-100 me-2" (click)="offcanvas.dismiss()"><i class="fa fa-times"></i> Close</button>
                        <button class="btn btn-primary w-100" (click)="submitSelectGreetings()"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>