.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: transparent;
}


.input-button-container {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    position: relative;
}

#messageInputField {
    flex-grow: 1; 
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    padding-right: 40px;
    box-shadow: 0px 1px 1px #1018280f, 0px 1px 3px #1018281a;
    resize: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.btn-send {
    background-color: transparent; 
    color: var(--primary); 
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}

.msg_cotainer
{
    max-width: 70%;
    margin-bottom: 10px;
    &.start
    {
        background: #ffffffe6;
        padding: 10px;
        border-radius: 0 10px 10px 10px;
        box-shadow: 0px 1px 2px #1018280f, 0px 1px 3px #1018281a;
    }
    &.end
    {
        background-color: var(--primary);
        color: #fff;
        padding: 10px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 0px 1px 2px #1018280f, 0px 1px 3px #1018281a;
    }
    &.center
    {
        background: #ffffff;
        max-width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px #ffffffe6 solid;
        box-shadow: 0px 1px 2px #1018280f, 0px 1px 3px #1018281a;
    }
    &.activity
    {
        color: #A6A6A7;
        border: none;
        font-size: 0.8rem;
        text-align: center;
        width: 50%;
        position: relative;
        margin: 0 auto;
    }

}
