.horizontal .app-sidebar.horizontal-main .side-menu h3 {
  display: none;
}
.ng-scroll-content
{
  display: block !important;
}

@media (max-width: 991.9px) {
  .sidemenu-logo {
    display: none;
  }
}

.sub-slide-menu.open,
.slide-menu.open {
  display: block;
}

.side-menu__item
{
  border-radius: 10px !important;
  padding: 5px 15px !important;
  transition: linear 0.2s;
}

.side-menu__item.active
{
  color: var(--white) !important;
  background-color: var(--primary-bg-color) !important;
}
.side-menu__item:active,
.side-menu__item:hover
{
  color: var(--white) !important;
  background-color: var(--primary-6) !important;
}

::ng-deep {

  .horizontalmenu .hor-menu li.nav-item .nav-link {
    min-width: max-content;
  }

  .horizontalmenu app-sidemenu ng-scrollbar {
    position: static !important;
  }
}

.side-menu {
  margin-right: 105px;
}

@media (min-width: 992px) {
  .horizontal .side-menu__item .angle {

    position: relative;
    top: 2px;
    right: -4px;
  }
}

.layout-boxed .horizontal-main {
  max-width: 1400px;
}

@media (min-width: 992px) {

  .horizontal .main-sidemenu .slide-left,
  .horizontal .main-sidemenu .slide-right {
    position: absolute;
    top: 5px;
    padding: 10px;
    font-size: 16px;
    color: #1c1d22;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #828181;
    background-color:#828181;
    margin: 0 10px;
    border-radius: 50px;
  }
}

@media (min-width: 992px) {
  .horizontal .main-sidemenu .slide-right {
    right: 0;
  }
}

.main-logo {

  margin-top: 0.2rem;

  width: 125px;

  height: auto;

}