<div class="app-sidebar__overlay" (click)="sidebarClose()"></div>

<div class="app-sidebar d-flex flex-column sticky" [ngClass]="{ 'fixed-header visible-title': scrolled }">

  <div class="main-sidebar-header active">
    <a class="desktop-logo logo-light active" routerLink="/dashboard">
      <img src="{{GLOBAL_IMAGES.zauto_logo_black}}" class="main-logo" alt="Logo" />
    </a>
    <a class="desktop-logo logo-dark active" routerLink="/dashboard">
      <img src="{{GLOBAL_IMAGES.zauto_logo_white}}" class=" main-logo" alt="Logo" />
    </a>
    <a class="logo-icon mobile-logo icon-light active" routerLink="/dashboard">
      <img src="{{GLOBAL_IMAGES.zauto_icon}}" alt="logo" />
    </a>
    <a class="logo-icon mobile-logo icon-dark active" routerLink="/dashboard">
      <img src="{{GLOBAL_IMAGES.zauto_icon}}" alt="logo" />
    </a>

  </div>
  <ng-scrollbar>
    <div class="main-sidemenu">
        <ul class="side-menu">
          <!-- 1st Level Menu -->
          <ng-container *ngIf="!isSetupCompleted">
            <li *ngFor="let menuItem of setupMenuItems"
              [ngClass]="{'side-item side-item-category':menuItem.headTitle,'slide':menuItem.title, 'is-expanded': menuItem.active}">
              <span *ngIf=" checkUserAccess(menuItem.roles || [])">{{menuItem.headTitle}}</span>
      
              <!-- has-Link -->
              <a class="side-menu__item has__link" [routerLink]="!menuItem.type ? null : menuItem.path"
                *ngIf="menuItem.type === 'link' && checkUserAccess(menuItem.roles || [])" routerLinkActive="active">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
              </a>
              <!-- empty path -->
              <a class="side-menu__item has__link" href="javascript:;" *ngIf="menuItem.type === 'empty'"
                (click)="toggleNavActive(menuItem)">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
              </a>
              <!-- external -->
              <a class="side-menu__item has__link" routerLinkActive="active" target="_blank"
                [routerLink]="!menuItem.type ? null : [menuItem.path] " *ngIf="menuItem.type === 'external' "
                (click)="toggleNavActive(menuItem)">
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
                <span class="badge badge-sm bg-{{menuItem.badgeClass}} badge-hide">{{menuItem.badgeValue}}</span>
              </a>
              <!-- has-Sub -->
              <a class="side-menu__item" [routerLink]="menuItem.type ? null: [menuItem.path]" *ngIf="menuItem.type === 'sub'"
                (click)="toggleNavActive(menuItem)" [ngClass]="{'active': menuItem.active}">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
                <span class="{{menuItem.badgeClass}}" *ngIf="menuItem.badgeClass && menuItem.badgeValue">
                  {{menuItem.badgeValue}}
                </span>
                <i class="angle fe fe-chevron-right" [ngClass]="{ 'd-none': menuItem.badgeClass}"></i>
      
              </a>
              <!-- 2nd Level menu -->
              <ul class="slide-menu " *ngIf="menuItem.children && menuItem.type === 'sub'"
                [ngClass]="{ open: menuItem.active }">
                <li *ngFor="let childrenItem of menuItem.children"
                  [ngClass]="{'is-expanded active': childrenItem.active, 'sub-slide': childrenItem.Menusub}">
      
                  <!-- link -->
                  <a class="slide-item" routerLinkActive="active"
                    [routerLink]="!childrenItem.type ? null : [childrenItem.path] " *ngIf="childrenItem.type === 'link' "
                    (click)="toggleNavActive(childrenItem)">
                    {{childrenItem.title}}
                  </a>
                  <!-- empty -->
                  <a class="slide-item" routerLinkActive="active" href="javascript:;" *ngIf="childrenItem.type === 'empty' "
                    (click)="toggleNavActive(childrenItem)">
                    {{childrenItem.title}}
                  </a>
                  <!-- sub -->
                  <a href="javascript:;" class="sub-side-menu__item"
                    [routerLink]="childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'sub' "
                    (click)="toggleNavActive(childrenItem)">
                    <span class="sub-side-menu__label"> {{childrenItem.title}}</span>
                    <i class="sub-angle fe fe-chevron-right"></i>
                  </a>
                  <!-- 3rd Level menu -->
                  <ul class="sub-slide-menu" *ngIf="childrenItem.children" [ngClass]="{'open': childrenItem.active}"
                    [ngClass]="{'open': childrenItem.active}">
                    <li *ngFor="let childrenSubItem of childrenItem.children"
                      [ngClass]="{'is-expanded': childrenSubItem.active}">
                      <!-- link -->
                      <a class="sub-slide-item" routerLinkActive="active"
                        [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                        *ngIf="childrenSubItem.type === 'link'" (click)="toggleNavActive(childrenSubItem);">
                        {{childrenSubItem.title}}
                      </a>
                      <!-- empty -->
                      <a class="sub-slide-item" href="javascript:;" *ngIf="childrenSubItem.type === 'empty'"
                        (click)="toggleNavActive(childrenSubItem)">
                        {{childrenSubItem.title}}
                      </a>
                      <!-- sub -->
                      <a class="sub-slide-item" href="javascript:;"
                        [routerLink]="childrenSubItem.type ? null : [childrenSubItem.path]"
                        *ngIf="childrenSubItem.type === 'sub' " (click)="toggleNavActive(childrenSubItem)">
                        <span class="sub-side-menu__label2"> {{childrenSubItem.title}} </span>
                        <i class="sub-angle2 fe fe-chevron-right"></i>
                      </a>
                      
                      <!--4th level -->
                      <ul class="sub-slide-menu2" *ngIf="childrenSubItem.children"
                        [ngClass]="{'open': childrenSubItem.active}">
                        <li class=" " *ngFor="let childrenSubItem1 of childrenSubItem.children"
                          [ngClass]="{'is-expanded': childrenSubItem1.active}">
                          <a class="sub-slide-item2" routerLinkActive="active"
                            [routerLink]="!childrenSubItem1.type ? null : [childrenSubItem1.path]"
                            *ngIf="childrenSubItem1.type === 'link'">
                            {{childrenSubItem1.title}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ng-container>
          <ng-container *ngIf="isSetupCompleted">
            <li *ngFor="let menuItem of menuItems"
              [ngClass]="{'side-item side-item-category':menuItem.headTitle,'slide':menuItem.title, 'is-expanded': menuItem.active}">
              <span *ngIf=" checkUserAccess(menuItem.roles || [])">{{menuItem.headTitle}}</span>
      
              <!-- has-Link -->
              <a class="side-menu__item has__link" [routerLink]="!menuItem.type ? null : menuItem.path"
                *ngIf="menuItem.type === 'link' && checkUserAccess(menuItem.roles || [])" routerLinkActive="active">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
              </a>
              <!-- empty path -->
              <a class="side-menu__item has__link" href="javascript:;" *ngIf="menuItem.type === 'empty'"
                (click)="toggleNavActive(menuItem)">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
              </a>
              <!-- external -->
              <a class="side-menu__item has__link" routerLinkActive="active" target="_blank"
                [routerLink]="!menuItem.type ? null : [menuItem.path] " *ngIf="menuItem.type === 'external' "
                (click)="toggleNavActive(menuItem)">
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
                <span class="badge badge-sm bg-{{menuItem.badgeClass}} badge-hide">{{menuItem.badgeValue}}</span>
              </a>
              <!-- has-Sub -->
              <a class="side-menu__item" [routerLink]="menuItem.type ? null: [menuItem.path]" *ngIf="menuItem.type === 'sub'"
                (click)="toggleNavActive(menuItem)" [ngClass]="{'active': menuItem.active}">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="side-menu__icon">
                  <i class="{{menuItem.icon}} "></i>
                </span>
                <span class="side-menu__label">{{menuItem.title}}</span>
                <span class="{{menuItem.badgeClass}}" *ngIf="menuItem.badgeClass && menuItem.badgeValue">
                  {{menuItem.badgeValue}}
                </span>
                <i class="angle fe fe-chevron-right" [ngClass]="{ 'd-none': menuItem.badgeClass}"></i>
      
              </a>
              <!-- 2nd Level menu -->
              <ul class="slide-menu " *ngIf="menuItem.children && menuItem.type === 'sub'"
                [ngClass]="{ open: menuItem.active }">
                <li *ngFor="let childrenItem of menuItem.children"
                  [ngClass]="{'is-expanded active': childrenItem.active, 'sub-slide': childrenItem.Menusub}">
      
                  <!-- link -->
                  <a class="slide-item" routerLinkActive="active"
                    [routerLink]="!childrenItem.type ? null : [childrenItem.path] " *ngIf="childrenItem.type === 'link' "
                    (click)="toggleNavActive(childrenItem)">
                    {{childrenItem.title}}
                  </a>
                  <!-- empty -->
                  <a class="slide-item" routerLinkActive="active" href="javascript:;" *ngIf="childrenItem.type === 'empty' "
                    (click)="toggleNavActive(childrenItem)">
                    {{childrenItem.title}}
                  </a>
                  <!-- sub -->
                  <a href="javascript:;" class="sub-side-menu__item"
                    [routerLink]="childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'sub' "
                    (click)="toggleNavActive(childrenItem)">
                    <span class="sub-side-menu__label"> {{childrenItem.title}}</span>
                    <i class="sub-angle fe fe-chevron-right"></i>
                  </a>
                  <!-- 3rd Level menu -->
                  <ul class="sub-slide-menu" *ngIf="childrenItem.children" [ngClass]="{'open': childrenItem.active}"
                    [ngClass]="{'open': childrenItem.active}">
                    <li *ngFor="let childrenSubItem of childrenItem.children"
                      [ngClass]="{'is-expanded': childrenSubItem.active}">
                      <!-- link -->
                      <a class="sub-slide-item" routerLinkActive="active"
                        [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                        *ngIf="childrenSubItem.type === 'link'" (click)="toggleNavActive(childrenSubItem);">
                        {{childrenSubItem.title}}
                      </a>
                      <!-- empty -->
                      <a class="sub-slide-item" href="javascript:;" *ngIf="childrenSubItem.type === 'empty'"
                        (click)="toggleNavActive(childrenSubItem)">
                        {{childrenSubItem.title}}
                      </a>
                      <!-- sub -->
                      <a class="sub-slide-item" href="javascript:;"
                        [routerLink]="childrenSubItem.type ? null : [childrenSubItem.path]"
                        *ngIf="childrenSubItem.type === 'sub' " (click)="toggleNavActive(childrenSubItem)">
                        <span class="sub-side-menu__label2"> {{childrenSubItem.title}} </span>
                        <i class="sub-angle2 fe fe-chevron-right"></i>
                      </a>
                      
                      <!--4th level -->
                      <ul class="sub-slide-menu2" *ngIf="childrenSubItem.children"
                        [ngClass]="{'open': childrenSubItem.active}">
                        <li class=" " *ngFor="let childrenSubItem1 of childrenSubItem.children"
                          [ngClass]="{'is-expanded': childrenSubItem1.active}">
                          <a class="sub-slide-item2" routerLinkActive="active"
                            [routerLink]="!childrenSubItem1.type ? null : [childrenSubItem1.path]"
                            *ngIf="childrenSubItem1.type === 'link'">
                            {{childrenSubItem1.title}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
        <button type="button" 
        class="btn btn-outline-dark btn-sm m-2 fw-bold"
        (click)="openDeleteAgentModal()"
        *ngIf="botId"
        >
          <i class="zmdi zmdi-delete"></i> Delete Agent
        </button>
    </div>
  </ng-scrollbar>

</div>

<ng-template #deleteAgentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Agent</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to proceed with the permanent deletion of your Avatar? This action cannot be undone, and all associated data will be irreversibly removed. Confirming this action will result in the complete elimination of your Avatar and its related information.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="modalService.dismissAll()">Cancel</button>
    <button class="btn btn-danger" (click)="onDeleteAgentSubmit()">Yes</button>
  </div>
</ng-template>
