.list-scroll
{
    width: 100%;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: hidden; 
    height: 19rem;
}
.clearfix
{
    background-color: #8080ff2d;
    padding: 10px 5px;
    border-radius: 5px;
}