<div class="chat-header" [ngStyle]="{'background-color': background}">
    <div class="d-flex" *ngIf="avatar">
        <div class="profile-pic me-3">
            <img [src]="avatar?.logoUrl || GLOBAL_IMAGES.default_avatar_image" alt="profile-pic">
        </div>
        <h6 class="agent-name" [ngStyle]="{'color': textColor}">{{avatar?.displayName}}</h6>
    </div>
    <div class="w-100 d-flex" *ngIf="!avatar">
        <ngx-skeleton-loader count="1" appearance="circle"
            [theme]="{'background-color':'#eff1f680'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{'background-color':'#eff1f680'}"
            class="w-50 my-auto"></ngx-skeleton-loader>
    </div>
    <button 
    class="btn close-btn" 
    id="zauto-close-btn" 
    [ngStyle]="{'color': textColor}" 
    (click)="onClose()"
    *ngIf="showCloseBtn"><i class="zmdi zmdi-close"></i></button>
</div>