<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <ul class="pagination pagination-sm" *ngIf="getPageCount() > 1">
      <li class="page-item" [ngClass]="{'disabled':currentPage === 1}">
        <a class="page-link" href="javascript:void(0)" (click)="previousPage()">Previous</a>
      </li>
      <ng-container *ngFor="let page of generatePageArray(); let i = index">
        <ng-container *ngIf="page === '...'">
          <li class="page-item disabled"><a class="page-link">...</a></li>
        </ng-container>
        <ng-container *ngIf="page !== '...'">
          <li class="page-item" [ngClass]="{'active': currentPage === page}">
            <a class="page-link" href="javascript:void(0)" (click)="gotoPage(i+1)">{{ page }}</a>
          </li>
        </ng-container>
      </ng-container>
      <li class="page-item" [ngClass]="{'disabled':currentPage === getPageCount()}">
        <a class="page-link" href="javascript:void(0)" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </div>
</div>