<!-- PAGE-CONTENT OPEN -->
<div class="page-content error-page">
    <div class="container text-center">
        <div class="error-template">
            <h1 class="display-1  mb-2">404<span class="fs-20">error</span></h1>
            <h5 class="error-details ">
                Sorry, an error has occured, Requested page not found!
            </h5>
            <div class="text-center">
                <a class="btn  btn-primary mt-5 mb-5" routerLink=""> <i class="fe fe-arrow-left"></i> Back to Home </a>
            </div>
        </div>
    </div>
</div>
<!-- PAGE-CONTENT OPEN CLOSED -->
