<div class="card shadow mt-3">
    <div class="card-header d-flex  justify-content-between">
        <h4 class="crad-title"><i class="fa-solid fa-plug"></i> External API</h4>
        <button class="btn btn-sm btn-outline-primary" (click)="openCreateExternalAPI()">Add API</button>
    </div>
    <div class="card-body p-0">
        <div class="row">
            <div class="col-3 border-end fixed-vh pe-0 scroll-container-v" #scrollContainer>
                <div class="zauto-card" [ngClass]="{'active':(selectedApi && selectedApi?.id == item?.id)}"
                    *ngFor="let item of externalApiData?.data" (click)="selectApi(item)">
                    <div>{{item?.name}}</div>
                </div>
            </div>
            <div class="col-9 fixed-vh ps-0">
                <div class="h-100 ">
                    <ng-container *ngIf="selectedApi">
                        <div class="scroll-container-v h-100 p-3">
                            <div class="d-flex justify-content-end mb-3">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-sm p-1" id="dropdownBasic1" ngbDropdownToggle>
                                        <i class="fe fe-more-horizontal"></i>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="openEditExternalAPI()"><i
                                                class="fa fa-edit"></i>
                                            Edit</button>
                                        <div class="dropdown-divider"></div>
                                        <button ngbDropdownItem class="text-danger" (click)="openDeleteExternalAPI()">
                                            <i class="fa fa-trash"></i>
                                            Delete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-body p-2">
                                    <ng-container [ngSwitch]="selectedApi?.method">
                                        <span *ngSwitchCase="'GET'"
                                            class="badge bg-success-transparent text-success me-2 w-10">GET</span>
                                        <span *ngSwitchCase="'POST'"
                                            class="badge bg-primary-transparent text-primary me-2 w-10">POST</span>
                                        <span *ngSwitchCase="'PUT'"
                                            class="badge bg-warning-transparent text-warning me-2 w-10">PUT</span>
                                        <span *ngSwitchCase="'DELETE'"
                                            class="badge bg-danger-transparent text-danger me-2 w-10">DELETE</span>
                                        <span *ngSwitchCase="'PATCH'"
                                            class="badge bg-dark-transparent text-dark me-2 w-10">PATCH</span>
                                    </ng-container>
                                    <ng-container [ngSwitch]="selectedApi?.authType">
                                        <span *ngSwitchCase="'NONE'"
                                            class="badge bg-dark-transparent text-dark me-2 w-10">NONE</span>
                                        <span *ngSwitchCase="'BASIC'"
                                            class="badge bg-primary-transparent text-primary me-2 w-10">BASIC</span>
                                        <span *ngSwitchCase="'TOKEN'"
                                            class="badge bg-success-transparent text-success me-2 w-10">TOKEN</span>
                                    </ng-container>
                                    <span class="text-muted text-truncate w-75">{{selectedApi?.url}}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-3">
                                <button class="btn btn-sm btn-outline-primary" (click)="openAddkeymapping()">Add key
                                    mapping</button>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Field name</th>
                                        <th scope="col">External field name</th>
                                        <th scope="col">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selectedApi?.KeyMapping.length > 0">
                                        <ng-container *ngFor="let mapping of selectedApi?.KeyMapping">
                                            <tr>
                                                <td>{{mapping?.fieldName}}</td>
                                                <td>{{mapping?.externalFieldName}}</td>
                                                <td>
                                                    <a role="button" class="btn text-primary p-0"
                                                        (click)="openEditkeymapping(mapping)"><i class="fa fa-edit"></i></a>
                                                    <a role="button" class="btn p-0" (click)="openDeleteKeyMap(mapping)"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="selectedApi?.KeyMapping.length <= 0">
                                        <tr class="text-center">
                                            <td colspan="5">No key mapping found</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!selectedApi">
                        <div class="h-100 d-flex justify-content-center align-items-center">
                            <span class="text-muted">Select API for more details</span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createExternalAPIOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fa-solid fa-plug"></i> Add API</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="externalApiForm" (ngSubmit)="onCreateExternalAPISubmit()">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" formControlName="name"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'name') || errorFeedback.name.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.name}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea rows="3" id="description" name="description" class="form-control" placeholder="Description"
                formControlName="description"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'description') || errorFeedback.description.length > 0}">
                </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.description}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="authType">Auth type</label>
                <select name="authType" id="authType" class="form-control" formControlName="authType">
                    <ng-container *ngFor="let option of authTypeOptions">
                        <option [value]="option">{{option}}</option>
                    </ng-container>
                </select>
            </div>
            <ng-container [ngSwitch]="externalApiForm.value.authType">
                <ng-container *ngSwitchCase="'BASIC'">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                            formControlName="username"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'username') || errorFeedback.username.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.username}}
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                            formControlName="password"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'password') || errorFeedback.password.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.password}}
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'TOKEN'">
                    <div class="form-group mb-3">
                        <label for="header">Header</label>
                        <input type="text" id="header" name="header" class="form-control" placeholder="Header"
                            formControlName="header"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'header') || errorFeedback.header.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.header}}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="token">Token</label>
                        <input type="text" id="token" name="token" class="form-control" placeholder="Token"
                            formControlName="token"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'token') || errorFeedback.token.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.token}}
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="form-group mb-3">
                <label for="url">URL</label>
                <input type="url" id="url" name="url" class="form-control" placeholder="URL" formControlName="url"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'url') || errorFeedback.url.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.url}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="method">Method</label>
                <select name="method" id="method" class="form-control" formControlName="method">
                    <ng-container *ngFor="let option of httpMethodOptions">
                        <option [value]="option">{{option}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i> Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Create</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editExternalAPIOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fa-solid fa-plug"></i> Edit API</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="externalApiForm" (ngSubmit)="onEditExternalAPISubmit()">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" formControlName="name"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'name') || errorFeedback.name.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.name}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea rows="3" id="description" name="description" class="form-control" placeholder="Description"
                formControlName="description"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'description') || errorFeedback.description.length > 0}">
                </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.description}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="authType">Auth type</label>
                <select name="authType" id="authType" class="form-control" formControlName="authType">
                    <ng-container *ngFor="let option of authTypeOptions">
                        <option [value]="option">{{option}}</option>
                    </ng-container>
                </select>
            </div>
            <ng-container [ngSwitch]="externalApiForm.value.authType">
                <ng-container *ngSwitchCase="'BASIC'">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                            formControlName="username"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'username') || errorFeedback.username.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.username}}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                            formControlName="password"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'password') || errorFeedback.password.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.password}}
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'TOKEN'">
                    <div class="form-group mb-3">
                        <label for="header">Header</label>
                        <input type="text" id="header" name="header" class="form-control" placeholder="Header"
                            formControlName="header"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'header') || errorFeedback.header.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.header}}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="token">Token</label>
                        <input type="text" id="token" name="token" class="form-control" placeholder="Token"
                            formControlName="token"
                            [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'token') || errorFeedback.token.length > 0}">
                        <div class="invalid-feedback">
                            {{errorFeedback.token}}
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="form-group mb-3">
                <label for="url">URL</label>
                <input type="url" id="url" name="url" class="form-control" placeholder="URL" formControlName="url"
                    [ngClass]="{'is-invalid':isFieldValid(externalApiForm,'url') || errorFeedback.url.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.url}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="method">Method</label>
                <select name="method" id="method" class="form-control" formControlName="method">
                    <ng-container *ngFor="let option of httpMethodOptions">
                        <option [value]="option">{{option}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i> Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #addKeyMappingOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fa-solid fa-plug"></i> Add key mapping</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="keymappingForm" (ngSubmit)="onAddKeyMapSubmit()">
            <div class="form-group">
                <label for="fieldname">Field name</label>
                <ng-select [items]="zautoCRMProperties" [bindLabel]="'label'" [bindValue]="'label'"
                    [groupBy]="'groupBy'" formControlName="fieldName" class="custom form-control"
                    [ngClass]="{'is-invalid':isFieldValid(keymappingForm,'fieldName') || errorFeedback.fieldName.length > 0}"></ng-select>
                <div class="invalid-feedback">
                    {{errorFeedback.fieldName}}
                </div>
            </div>
            <div class="form-group">
                <label for="externalFieldName">External field name</label>
                <input type="text" id="externalFieldName" name="externalFieldName" class="form-control"
                    placeholder="External field name" formControlName="externalFieldName"
                    [ngClass]="{'is-invalid':isFieldValid(keymappingForm,'externalFieldName') || errorFeedback.externalFieldName.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.externalFieldName}}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i> Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Add</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editKeyMappingOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fa-solid fa-plug"></i> Edit key mapping</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="keymappingForm" (ngSubmit)="onEditKeyMapSubmit()">
            <div class="form-group">
                <label for="fieldname">Field name</label>
                <ng-select [items]="zautoCRMProperties" [bindLabel]="'label'" [bindValue]="'label'"
                    [groupBy]="'groupBy'" formControlName="fieldName" class="custom form-control"
                    [ngClass]="{'is-invalid':isFieldValid(keymappingForm,'fieldName') || errorFeedback.fieldName.length > 0}"></ng-select>
                <div class="invalid-feedback">
                    {{errorFeedback.fieldName}}
                </div>
            </div>
            <div class="form-group">
                <label for="externalFieldName">External field name</label>
                <input type="text" id="externalFieldName" name="externalFieldName" class="form-control"
                    placeholder="External field name" formControlName="externalFieldName"
                    [ngClass]="{'is-invalid':isFieldValid(keymappingForm,'externalFieldName') || errorFeedback.externalFieldName.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.externalFieldName}}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i> Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</ng-template>