<div class="container-fluid">
  <div class="row vh-100 d-flex align-items-center justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-12">
      @if(errorMessage)
      {
        <div class="alert alert-danger text-center" role="alert">
          {{errorMessage}}
        </div>
      }
      <div class="w-100 d-flex align-items-center mb-3">
        <img src="../../../assets/images/brand/black_full_png.png" alt="" width="200" class="mx-auto">
      </div>
      <div class="card shadow-sm">
        <div class="card-body">
          <form [formGroup]="registrForm" (ngSubmit)="submit()">
            <h3 class="text-center">
              Registration
            </h3>
            <div class="form-group mb-3">
              <advanced-input 
              [label]="'Name'"
              [type]="'text'"
              [placeholder]="'Your name'"
              [size]="'md'"
              [control]="name"
              [isDisabled]="isLoading"
              [errorMessages]="errorMessages.name"
              ></advanced-input>
            </div>
            <div class="form-group mb-3">
              <advanced-input 
              [label]="'Email'"
              [type]="'email'"
              [placeholder]="'Your email ID'"
              [size]="'md'"
              [control]="email"
              [isDisabled]="isLoading"
              [errorMessages]="errorMessages.email"
              ></advanced-input>
            </div>
            <div class="form-group mb-3">
              <advanced-input 
              [label]="'Password'"
              [type]="'password'"
              [placeholder]="'Your password'"
              [size]="'md'"
              [control]="password"
              [isDisabled]="isLoading"
              [errorMessages]="errorMessages.password"
              ></advanced-input>
            </div>
            <div class="form-group mb-3">
              <advanced-input 
              [label]="'Agree the terms and conditions'"
              [type]="'checkbox'"
              [size]="'md'"
              [control]="terms"
              [isDisabled]="isLoading"
              [errorMessages]="errorMessages.terms"
              ></advanced-input>
            </div>
            <advanced-button
            [label]="'Register'"
            [size]="'md'"
            [classes]="'w-100'"
            [type]="'submit'"
            [isLoading]="isLoading"
            ></advanced-button>
            <div class="text-center pt-3">
              <p class="text-dark mb-5"><span class="text-muted">Already have account?</span><a routerLink="/auth/login" class="text-primary ms-1">Login</a></p>
              <!-- <p><a routerLink="/auth/login" class="text-primary ms-1"> Send Magic Link</a></p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

