<div class="card h-100 shadow-sm" *ngIf="!isLoading">
    <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">
        <div class="row row-cols-lg-3 mb-5 text-center">
            <div class="col">
                <div>
                    <h4 class="mb-3">Impressions</h4>
                    <div class="lh-1">
                        <h4 class="fs-2 fw-bold text-primary mb-0 ">{{percentageData.visitorPercentage}}%</h4>
                    </div>

                </div>
            </div>
            <div class="col">
                <div>
                    <h4 class="mb-3">Conversations</h4>
                    <div class="lh-1">
                        <h4 class="fs-2 fw-bold text-warning mb-0 ">{{percentageData.conversationPercentage}}%</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div>
                    <h4 class="mb-3">Contacts</h4>
                    <div class="lh-1">
                        <h4 class="fs-2 fw-bold text-success mb-0 ">{{percentageData.leadPercentage}}%</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="progress" style="height: 40px;">
            <div class="progress-bar bg-primary" [style.width.%]="percentageData.visitorPercentage"></div>
            <div class="progress-bar bg-warning" [style.width.%]="percentageData.conversationPercentage"></div>
            <div class="progress-bar bg-success" [style.width.%]="percentageData.leadPercentage"></div>
        </div>
    </div>
</div>
<ng-container *ngIf="isLoading">
    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10px', height: '18rem'}"></ngx-skeleton-loader>
</ng-container>
