#launch_date {
  margin: 0;
}

.countdown-rtl {
  direction: rtl;
}

.countdown {
  li {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    width: 100px;
    height: 84px;
    border-radius: 0px;
    line-height: 22px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 8px 16px 0 rgba(29, 29, 31, 0.08);
    color: var(--bs-indigo);

  }

  li span {
    position: absolute;
    left: 30%;
    color: var(--bs-indigo);
    z-index: 5;
  }

  .time {
    font-size: 1.83rem;
    padding-top: 2px;
    font-weight: bold;
  }
}

@media (max-width:991px) {
  .countdown {
    li {
      margin: 20px 10px 10px 10px;
    }
  }

  .is-countdown {
    margin-top: 20px;
  }
}

@media (min-width:992px) {
  .countdown {
    li {
      margin: 30px 10px 5px 0;
    }
  }
}

.main-signin-wrapper {
  width: 100vw !important;
  height: 100vh !important;
}

.error-page1.bg-light {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

@media (max-width:568px) {
  .countdown {
    li {
      margin: 10px;
      width: 60px;
      height: 84px;

      span {
        left: 6px;
      }
    }
  }

  .p-3 {
    padding: 0.3rem !important;
  }
}

@media (max-width:400PX) {
  .countdown {
    li {
      margin: 5px;
      width: 55px;
      height: 64px;

      span {
        left: 4px;
      }
    }
  }
}

.countdown {
  color: var(--bs-indigo)
}

@media (max-width: 320px) {
  .p-3 {
    padding: 0 !important;
    padding-bottom: 1rem !important;
  }
}

#count-down .clock-presenter {
  height: 80px;
  padding: 0;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: 30px 20px 0 0;

  border-radius: 3px;
  background-size: cover;
  position: relative;
}

#count-down .clock-presenter:before {
  content: "";
  position: absolute;
  background: linear-gradient(135deg, var(--primary09) 0%, #0052cc 100%);
  inset: 0;
  display: block;
  border-radius: 3px;
}

#count-down .clock-presenter .digit {
  margin-top: 5px;
  font-size: 1.5rem;
  color: #fff;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: default;
  font-weight: 600;
  border-radius: 3px;
}

.mt-5,
.my-5 {
  margin-top: 3.5rem !important;
}

p,
ul,
ol {
  margin-bottom: 1rem;
  color: black
}