<div class="d-flex justify-content-end">
    <button class="btn btn-primary btn-sm me-2" *ngIf="canEdit" [disabled]="isUpdateing" (click)="onSubmit()">
        <i class="zmdi zmdi-spinner text-white status-loader" *ngIf="isUpdateing"></i> {{!isUpdateing ? 'Save' :
        'Updating'}}</button>
    <button class="btn btn-primary btn-sm" (click)="toggleEdit()">{{!canEdit ? 'Change' : 'Cancel'}}</button>
</div>
<div>
    <div class="row">
        <div class="col-6 mb-2">
            <label for="templateSelect">Choose a Template</label>
            <select class="form-control form-control-sm" [value]="'NA'" id="templateSelect" [(ngModel)]="selectedTemplate" [disabled]="!canEdit || isUpdateing">
                <option [value]="'NA'">No Template</option>
                <optgroup [label]="'Templates'">
                    <option [value]="template.id" *ngFor="let template of templateList">{{template.name}}</option>
                </optgroup>
            </select>
        </div>
    </div>
    <ng-container *ngIf="selectedTemplate == 'NA'">
        <label for="promptInput">Prompt</label>
        <textarea class="form-control" rows="10" id="promptInput" [disabled]="!canEdit || isUpdateing" [(ngModel)]="promptText"
        *ngIf="canEdit"></textarea>
        <pre [innerText]="this.currentPrompt?.text" style="white-space: pre-wrap;" *ngIf="!canEdit"></pre>
    </ng-container>
    <ng-container *ngIf="selectedTemplate != 'NA' && canEdit">
        <form  #templateForm="ngForm">
            <div class="row">
                <div class="form-group col-6" *ngFor="let keyValuePair of findTemplateById(selectedTemplate)?.variables">
                    <label for="{{keyValuePair.key}}">{{keyValuePair.label}}</label>
                    <input type="text" class="form-control form-control-sm" id="{{keyValuePair.key}}" 
                    placeholder="value" name="{{keyValuePair.label}}" [disabled]="!canEdit || isUpdateing" [(ngModel)]="keyValuePair.value"
                    [ngClass]="{'is-invalid':inputField.invalid && (inputField.dirty || inputField.touched)}" #inputField="ngModel" required>
                    <div *ngIf="inputField.invalid && (inputField.dirty || inputField.touched)" class="invalid-feedback">
                        Value is required.
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="selectedTemplate != 'NA' && !canEdit">
        <label for="promptInput">Prompt</label>
        <pre [innerText]="this.currentPrompt?.text" style="white-space: pre-wrap;"></pre>
    </ng-container>
    
</div>