.contact-card{
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out; 
}

.contact-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-card.active {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}