<h3 class="my-3">Account Based Marketing</h3>

<div class="row">
  <div class="col-8">
    @for (abm of abmList; track $index) {
    <app-abm-card [abm]="abm" [isActive]="abm?.id === abm?.id" (onClick)="selectabm(abm)">

      <button class="dropdown-item" (click)="openViewContact(abm)">
        <i class="fa fa-eye text-secondary"></i> View
      </button>
      <!-- <button class="dropdown-item" (click)="openUpdateContact(abm)">
        <i class="fa fa-edit text-success"></i> Update
      </button> -->
      <!-- <button class="dropdown-item" (click)="delete(abm)">
        <i class="fa fa-trash-o text-danger"></i> Delete
      </button> -->
    </app-abm-card>
    }
    @empty {
      <div class="card">
        <div class="card-body text-center">
          <h4 class="text-muted">No accounts found</h4>
        </div>
      </div>
    }
    <div class="my-auto">
      <app-pagination [totalPages]="totalItems" [limit]="limit" (pageChanged)="onPageChange($event)" />
    </div>
  </div>
  <div class="col-4">
    <app-abm-card-preview [abm]="selectedabm"></app-abm-card-preview>

  </div>
</div>