
<div class="container-fluid">
    <div class="row vh-100 d-flex align-items-center justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-12">
        @if(errorMessage)
        {
          <div class="alert alert-danger text-center" role="alert">
            {{errorMessage}}
          </div>
        }
        <div class="w-100 d-flex align-items-center mb-3">
          <img src="../../../assets/images/brand/black_full_png.png" alt="" width="200" class="mx-auto">
        </div>
        <div class="card shadow-sm">
          <div class="card-body">
            <form [formGroup]="resetForm" (ngSubmit)="submit()">
                <h3 class="text-center">Forgot password</h3>
                <p class="text-center fw-light">Enter the email address associated with your account and we'll send you a link to reset your password.</p>
                <div class="form-group mb-3">
                    <advanced-input [label]="'Email'" [type]="'email'" [placeholder]="'Your email ID'" [size]="'md'"
                      [control]="email" [isDisabled]="isLoading" [errorMessages]="errorMessages.email"></advanced-input>
                </div>
                <advanced-button [label]="'Submit'" [size]="'md'" [classes]="'w-100'" [type]="'submit'"
                    [isLoading]="isLoading"></advanced-button>
                <div class="text-center pt-3">
                    <p class="mb-0">
                        <span class="text-muted">back to</span><a routerLink="/auth/login" class="text-primary ms-1">login</a>
                    </p>
                </div>
            </form>
          </div>
        </div>  
    </div>
</div>  