<div ngbDropdown #myDrop="ngbDropdown" class="dropdown d-lg-none d-flex">
  <a ngbDropdownToggle
    href="javascript:void(0)"
    class="nav-link icon"
    data-bs-toggle="dropdown"
  >
    <i class="fe fe-search header-icon"></i>
  </a>
  <div ngbDropdownMenu class="dropdown-menu header-search dropdown-menu-start">
    <div ngbDropdownItem class="input-group w-100 p-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search...."
      />
      <div class="input-group-text btn btn-primary">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
