<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title"><i class="fe fe-award"></i> Campaigns</h5>
                <div>
                    <button class="btn btn-outline-primary btn-sm me-3" (click)="openCreateCampaign()"><i
                            class="fe fe-plus"></i>
                        Create campaigns</button>
                    <!-- <button class="btn btn-sm btn-outline-primary" (click)="openFilterCanvas()"><i class="fe fe-filter"></i> Filters</button> -->
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group right-line p-2">
                            <input type="search" class="form-control" placeholder="Search e.g: Name, Status, Date"
                                [(ngModel)]="searchTerm" (input)="onSearchTermChange($event)" />
                            <button class="btn btn-outline-primary"><i class="fe fe-search"></i></button>
                        </div>

                        <ul class="campaign-container right-line  fixed-vh " #scrollContainer>
                            <ng-container *ngIf="!campaignList?.data">
                                <li>
                                    <ngx-skeleton-loader count="3"
                                        [theme]="{ 'border-radius': '0', height: '100px'}"></ngx-skeleton-loader>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="campaignList?.data">
                                <li class="campaign-card" *ngFor="let campaign of campaignList?.data"
                                    (click)="selectCampaign(campaign)"
                                    [ngClass]="{'active':(selectedCampaign && selectedCampaign?.id == campaign?.id)}">
                                    <div class="row">
                                        <div class="col-9 text-truncate">
                                            <h5 class="title">{{campaign.title}}</h5>
                                            <p class="description text-truncate">{{campaign.description}}</p>
                                        </div>
                                        <div class="col-3 d-flex justify-content-end">
                                            <div>
                                                <div class="badge badge-success" *ngIf="campaign.status == 'ACTIVE'">
                                                    ACTIVE
                                                </div>
                                                <div class="badge badge-danger" *ngIf="campaign.status == 'INACTIVE'">
                                                    INACTIVE
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 text-truncate">
                                            <div class="date">
                                                <div><b>Start Date</b></div>
                                                <div>{{campaign.startDate | date:'dd/MM/yyyy'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex justify-content-end">
                                            <div class="date">
                                                <div><b>End Date</b></div>
                                                <div>{{campaign.endDate | date:'dd/MM/yyyy'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div *ngIf="selectedCampaign" class="fixed-vh">
                            <dl class="campaign">
                                <div class="d-flex justify-content-end">
                                    <!-- <span (click)="toggleStatus()"
                                        [attr.aria-expanded]="(selectedCampaign?.status == 'ACTIVE')"
                                        class="custom-switch-indicator me-3"></span>
                                    <input type="checkbox" class="custom-switch-input" name="custom-switch-checkbox"> -->
                                    <div ngbDropdown class="d-inline-block">
                                        <a href="javascript:void(0)" class="text-muted" id="dropdownBasic1"
                                            ngbDropdownToggle>
                                            <i class="fe fe-more-horizontal"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem (click)="openEditCampaign()"><i
                                                    class="fa fa-edit"></i> Edit</button>
                                            <div class="dropdown-divider"></div>
                                            <button ngbDropdownItem (click)="openDeleteCampaign()" class="text-danger"
                                                *ngIf="!this.selectedCampaign?.isDefault"><i class="fa fa-trash"></i>
                                                Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="detail-value">{{selectedCampaign?.title}}</h3>
                                <div class="campaign-detail">
                                    <dt class="detail-label">Description :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.description}}</dd>
                                </div>
                                <div class="campaign-detail">
                                    <dt class="detail-label">URL :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.url}}</dd>
                                </div>
                                <div class="campaign-detail">
                                    <dt class="detail-label">Source :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.source}}</dd>
                                </div>
                                <div class="campaign-detail">
                                    <dt class="detail-label">Start Date :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.startDate | date:'dd/MM/yyyy'}}</dd>
                                </div>
                                <div class="campaign-detail">
                                    <dt class="detail-label">End Date :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.endDate | date:'dd/MM/yyyy'}}</dd>
                                </div>

                                <div class="campaign-detail">
                                    <dt class="detail-label">Status :</dt>
                                    <dd class="detail-value">
                                        <div class="badge badge-success" *ngIf="selectedCampaign?.status == 'ACTIVE'">
                                            ACTIVE
                                        </div>
                                        <div class="badge badge-danger" *ngIf="selectedCampaign?.status == 'INACTIVE'">
                                            INACTIVE
                                        </div>
                                    </dd>
                                </div>
                                <div class="campaign-detail" *ngIf="!selectedCampaign?.isZauto">
                                    <dt class="detail-label">Key :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.idParam}}</dd>
                                </div>
                                <div class="campaign-detail" *ngIf="!selectedCampaign?.isZauto">
                                    <dt class="detail-label">Value :</dt>
                                    <dd class="detail-value">{{selectedCampaign?.idValue}}</dd>
                                </div>

                                <div class="tab-menu-heading border-bottom-0" style="border: none !important;">
                                    <div class="tabs-menu1 ">
                                        <ul ngbNav #nav="ngbNav" [activeId]="1" class="">
                                            <li class="me-2 mb-1" [ngbNavItem]="1">
                                                <a ngbNavLink><i class="fe fe-activity"></i> Stats</a>
                                                <ng-template ngbNavContent>
                                                    <app-stats *ngIf="selectedCampaign" [campaignId]="selectedCampaign?.id"></app-stats>
                                                </ng-template>
                                            </li>
                                            <li class="me-2 mb-1" [ngbNavItem]="2">
                                                <a ngbNavLink><i class="fe fe-share-2"></i> Social links</a>
                                                <ng-template ngbNavContent>
                                                    <ul class="campaign-link-list" *ngIf="!selectedCampaign?.url">
                                                        <li *ngFor="let link of linkList">
                                                            <div class="row">
                                                                <div class="col-2 text-truncate">
                                                                    <i
                                                                        class="fa fa-{{getPlatformIcon(link.name).icon}} me-2 text-dark"></i>
                                                                    {{link?.name}}
                                                                </div>
                                                                <div class="col-10">
                                                                    <a href="javascript:void(0)" ngbTooltip="Copy URL"
                                                                        appClickToCopy [textToCopy]="link.url">
                                                                        <i class="fa fa-clone"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <ul class="campaign-link-list" *ngIf="selectedCampaign?.url">
                                                        <li *ngFor="let link of customLinkList">
                                                            <div class="row">
                                                                <div class="col-2 text-truncate">
                                                                    <i
                                                                        class="fa fa-{{getPlatformIcon(link.name).icon}} me-2 text-dark"></i>
                                                                    {{link?.name}}
                                                                </div>
                                                                <div class="col-10">
                                                                    <a href="javascript:void(0)" ngbTooltip="Copy URL"
                                                                        appClickToCopy [textToCopy]="link.url">
                                                                        <i class="fa fa-clone"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-template>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body tabs-menu-body" style="border: none !important;">
                                    <div [ngbNavOutlet]="nav"></div>
                                  </div>

                                <!-- <app-campaign-chart #visitChart [chartTitle]="'Visits'" [type]="'bar'"></app-campaign-chart> -->
                                <!-- <app-campaign-chart #leadChart [chartTitle]="'Leads'" [type]="'bar'"></app-campaign-chart> -->
                            </dl>
                        </div>
                        <div *ngIf="!selectedCampaign"
                            class="h-100 w-100 d-flex justify-content-center align-items-center">
                            <span class="text-muted">Select campaign for details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #deleteCampaignModal let-model>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="fe fe-award"></i> Delete Campaign</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to delete ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="closeModal()">Cancel</button>
        <button class="btn btn-danger" (click)="onDeleteCampaignSubmit()">Yes</button>
    </div>
</ng-template>



<!-- Create campaign offcanvas -->
<ng-template #createCampaignOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-award"></i> Create Campaign</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="campaignForm" (ngSubmit)="onCreateCampaignSubmit()">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                    formControlName="title"
                    [ngClass]="{'is-invalid':isFieldValid('title') || errorFeedback.title.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.title}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" placeholder="Description..." rows="5"
                    formControlName="description"
                    [ngClass]="{'is-invalid':(isFieldValid('description') || errorFeedback.desc.length > 0)}">
                    </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.desc}}
                </div>
            </div>

            <div class="form-group mb-3" *ngIf="false">
                <label for="url">URL</label>
                <input type="text" id="url" name="url" class="form-control" placeholder="URL e.g: example.com"
                    formControlName="url">

            </div>
            <div class="form-group mb-3">
                <label class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" name="lead-only" formControlName="isOthers" class="custom-control-input">
                    <span class="custom-control-label">Is Others</span>
                </label>
            </div>
            <div class="form-group mb-3" *ngIf="campaignForm.value.isOthers">
                <label for="key">Campain Id field</label>
                <input type="text" id="key" name="key" class="form-control mb-2" placeholder="Key"
                    formControlName="idParam"
                    [ngClass]="{'is-invalid':isFieldValid('idParam') || errorFeedback.key.length > 0}">
                <input type="text" id="value" name="value" class="form-control" placeholder="Value"
                    formControlName="idValue"
                    [ngClass]="{'is-invalid':isFieldValid('idValue') || errorFeedback.value.length > 0}">
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i>
                    Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Create</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editCampaignOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-award"></i> Edit Campaign</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">
        <form [formGroup]="campaignForm" (ngSubmit)="onEditCampaignSubmit()">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                    formControlName="title"
                    [ngClass]="{'is-invalid':isFieldValid('title') || errorFeedback.title.length > 0}">
                <div class="invalid-feedback">
                    {{errorFeedback.title}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" placeholder="Description..." rows="5"
                    formControlName="description"
                    [ngClass]="{'is-invalid':(isFieldValid('description') || errorFeedback.desc.length > 0)}">
                    </textarea>
                <div class="invalid-feedback">
                    {{errorFeedback.desc}}
                </div>
            </div>
            <div class="form-group mb-3" *ngIf="false">
                <label for="url">URL</label>
                <input type="text" id="url" name="url" class="form-control" placeholder="URL e.g: example.com"
                    formControlName="url">
            </div>

            <div class="form-group mb-3">
                <label for="">Start Date</label>
                <input type="date" class="form-control" formControlName="startDate">
            </div>
            <div class="form-group mb-3">
                <label for="">End Date</label>
                <input type="date" class="form-control" formControlName="endDate">
            </div>

            <div class="form-group mb-3" *ngIf="false">
                <label for=" status">Status</label>
                <select id="status" class="form-select" formControlName="status">
                    <option [value]="'ACTIVE'">ACTIVE</option>
                    <option [value]="'INACTIVE'">INACTIVE</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" name="lead-only" formControlName="isOthers" class="custom-control-input">
                    <span class="custom-control-label">Is Others</span>
                </label>
            </div>
            <div class="form-group mb-3" *ngIf="campaignForm.value.isOthers">
                <label for="key">Campain Id field</label>
                <input type="text" id="key" name="key" class="form-control mb-2" placeholder="Key"
                    formControlName="idParam"
                    [ngClass]="{'is-invalid':isFieldValid('idParam') || errorFeedback.key.length > 0}">
                <input type="text" id="value" name="value" class="form-control" placeholder="Value"
                    formControlName="idValue"
                    [ngClass]="{'is-invalid':isFieldValid('idValue') || errorFeedback.value.length > 0}">
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3" type="button" (click)="offcanvas.dismiss()"><i
                        class="fa fa-times"></i>
                    Close</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #filterOffcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fe fe-filter"></i> Filters</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
    </div>
    <hr class="m-0">
    <div class="offcanvas-body">

    </div>
</ng-template>