<div class="card mt-3 shadow">
  <div class="card-header d-flex justify-content-between w-100">
    <h4 class="card-title">
        <div class="">
            <i class="fa-regular fa-calendar"></i> Availability Schedule
        </div>
    </h4>
    <div>
        <button class="btn btn-sm btn-primary me-2" *ngIf="!canEdit" (click)="toggleEditMode(true)">Edit</button>
        <button class="btn btn-sm btn-primary me-2" *ngIf="canEdit" (click)="onSaveSubmit()" [disabled]="isSubmitting">
        <i class="zmdi zmdi-spinner text-white status-loader" *ngIf="isSubmitting"></i> {{!isSubmitting ? 'Save changes' :
            'Updating'}}</button>
        <button class="btn btn-sm btn-primary me-2" *ngIf="canEdit" (click)="toggleEditMode(false)">Cancel</button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="row h-100">
      <div class="col-4 fixed-vh border-end">
        <div class="p-2">
          <ng-container *ngIf="profiles.hasOwnProperty(provider)">
              <div class="card mb-3">
                  <div class="card-body p-2">
                      <div class="row">
                          <div class="col-2">
                              <div class="main-img-user avatar-md">
                                  <img alt="avatar" class="rounded-circle" [src]="profiles[provider]?.picture || GLOBAL_IMAGES.default_user">
                              </div>
                          </div>
                          <div class="col-8 d-flex align-items-center text-truncate">
                              <div>
                                  <h5 class="m-0">{{profiles[provider]?.name || profiles[provider]?.accountType}}</h5>
                                  <h6 class="m-0 text-muted">{{profiles[provider]?.email}}</h6>
                              </div>
                          </div>
                          <div class="col-2">
                            <button class="btn" (click)="logOut('google')">
                                <i class="fe fe-log-out"></i>
                            </button>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="form-group mb-3" *ngIf="profiles">
                <label for="connected_to">Select your calendar</label>
                <select name="connectedTo" id="connected_to" class="form-select" [disabled]="!canEdit" [(ngModel)]="selectedCalendar">
                  <option [value]="null" [disabled]="true">
                    --- Select your calendar ---
                  </option>
                  <option [value]="calendar?.id" *ngFor="let calendar of calendars">{{calendar?.summary}}</option>
                </select>
              </div>
          </ng-container>
          <ng-container *ngIf="!profiles.hasOwnProperty(provider)">
            <div class="mb-3">
              <app-oauth-button
              [provider]="provider"
              [text]="'Connect Google'"
              [icon]="'https://img.icons8.com/external-those-icons-flat-those-icons/64/external-Google-logos-and-brands-those-icons-flat-those-icons.png'"
              (clickEventEmitter)="onConnectClick($event)"
              ></app-oauth-button>
            </div>
          </ng-container>
          <div class="form-group mb-3">
            <label for="connected_to">Event duration</label>
            <select name="connectedTo" id="connected_to" class="form-select" 
            [(ngModel)]="selectedEventDuration" [disabled]="!canEdit">
              <ng-container *ngFor="let duration of eventDuration">
                  <option [value]="duration.value">{{duration.lable}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <div class="col-4 fixed-vh border-end">
        <div class="p-3">
          <h5>Available days</h5>
          <ul>
            <li *ngFor="let day of daysOfWeek;index as i;">
              <label class="custom-control custom-checkbox mb-2">
                <input
                  type="checkbox"
                  name="{{ day }}"
                  class="custom-control-input"
                  (click)="selectAvailableDays(i)"
                  [checked]="checkDateSelected(day)"
                  [disabled]="!canEdit"
                />
                <span class="custom-control-label">{{ day }}</span>
              </label>
            </li>
          </ul>
          <div class="border-bottom w-100 my-5"></div>
          <h5>Available hours</h5>
          <ng-container
            *ngFor="let hours of selectedAvailableHours; let i = index"
          >
            <div class="d-flex justify-content-start mb-2">
              <select
                class="form-select form-select-sm me-2"
                [(ngModel)]="selectedAvailableHours[i].start"
                [disabled]="!canEdit"
              >
                <ng-container>
                  <option
                    [value]="hour"
                    *ngFor="let hour of availableHours"
                    [disabled]="hour >= selectedAvailableHours[i].end"
                  >
                    {{ hour }}
                  </option>
                </ng-container>
              </select>
              <select
                class="form-select form-select-sm me-2"
                [(ngModel)]="selectedAvailableHours[i].end"
                [disabled]="!canEdit"
              >
                <ng-container>
                  <option
                    [value]="hour"
                    *ngFor="let hour of availableHours"
                    [disabled]="hour <= selectedAvailableHours[i].start"
                  >
                    {{ hour }}
                  </option>
                </ng-container>
              </select>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="removeAvailableHour(i)"
                [disabled]="!canEdit"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </ng-container>
          <button class="btn btn-sm btn-primary" (click)="addAvailableHour()" [disabled]="!canEdit">
            Add available hours
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
