<div class="box">
  <div class="container">
    <div id="chart">
      <apx-chart
        *ngIf="!isNull"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [title]="chartOptions.title"
        [responsive]="chartOptions.responsive"
        [legend]="chartOptions.legend"
      ></apx-chart>
      <div *ngIf="isNull" style="height: 245px;">
        <div class="mt-5 mb-5" style="font-family: 'Mulish', sans-serif; font-size: 18px; line-height: 27px; font-weight: 700; font-style: normal; letter-spacing: normal; word-spacing: 0px;">
          PREDICTIVE LEAD SCORING
        </div>
        <div class="mt-5">No Data Found</div>
      </div>
    </div>
  </div>
</div>
