<div class="profile-card bg-light row mt-2">
  <a routerLink="/contacts"
    ><i class="fa fa-arrow-left fs-6 text-primary"></i>
  </a>

  <div class="col-6 p-3">
    <div class="d-flex align-item-center justify-content-start gap-5">
      <div class="mt-5">
        <img
          src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Profile"
        />
      </div>
      <div>
        <a href="{{ selectedData.website }}">
          <h5>
            {{ selectedData.fullName }}
          </h5>
          {{ selectedData.jobtitle }}
        </a>
        <p class="text-muted">{{ selectedData.industry }}</p>
        <div class="info-item">
          <i class="fas fa-building"></i>
          <span>Company Name : {{ selectedData.organizationName }}</span>
        </div>
        <div class="info-item">
          <i class="fas fa-dollar"></i>
          <span>Revenue:{{ selectedData.annualRevenue }}</span>
        </div>
        <div class="info-item">
          <i class="fas fa-building"></i>
          <span>Company Size: {{ selectedData.companySize }}</span>
        </div>
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <span>Email: {{ selectedData.email }}</span>
        </div>
        <div class="info-item mt-6">
          <div class="social-icons mt-4">
            <a
              href="https://twitter.com/yourprofile"
              class="text-muted mx-3"
              target="_blank"
              ><i class="fab fa-twitter fs-6"></i
            ></a>
            <a
              href="https://facebook.com/yourprofile"
              class="text-muted mx-3"
              target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://linkedin.com/in/yourprofile"
              class="text-muted mx-3"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              href="https://instagram.com/yourprofile"
              class="text-muted mx-3"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--right Side-->
  <div class="col-5 me-2 mt-3">
    <div class="row border p-2 shadow-sm">
      <div class="col-6 mt-3">
        <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart blue">
            <path
              class="circle-bg"
              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <path
              class="circle"
              stroke-dasharray="70, 100"
              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <text x="18" y="20.35" class="percentage">90%</text>
          </svg>
        </div>
      </div>
      <h4 class="mt-4 ms-4" style="margin-left: 300px">
        Predictive Lead Scoring
      </h4>

      <div class="col-6 mt-3">
        <div class="single-chart">
          <svg viewBox="0 0 36 36" class="circular-chart blue">
            <path
              class="circle-bg"
              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <path
              class="circle"
              stroke-dasharray="70, 100"
              d="M18 2.0845
                  a 15.9155 15.9155 0 0 1 0 31.831
                  a 15.9155 15.9155 0 0 1 0 -31.831"
            />
            <text x="18" y="20.35" class="percentage">90%</text>
          </svg>
        </div>
        <h4 class="mt-4 ms-4">Intent Scoring</h4>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 26px">
      <div class="">
        <div for="segment" class="mb-2 label me-1">Mid Market</div>
        <div for="segment" class="mb-2 label me-1">High Potential</div>
        <div for="segment" class="mb-2 label me-1">ICP Match</div>
        <div for="segment" class="mb-2 label me-1">ICP Match</div>
      </div>
    </div>
  </div>
  <!--bottom-->
  <div class="p-3 border mt-1">
    <p class="text-muted mb-0">
      <strong>AI Insights:</strong> popular belief, Lorem Ipsum is not simply
      random text. It has roots in a piece of classical Latin literature.
    </p>
  </div>
</div>

<!--below tab-->
<div class="tab-menu-heading border-bottom-0" style="border: none !important">
  <div class="tabs-menu1">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active">
      <!-- <li class="me-2 mb-1" [ngbNavItem]="1">
        <a ngbNavLink><i class="fe fe-eye"></i> Overview</a>
        <ng-template ngbNavContent>
          <br /> -->
      <!-- <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-12">
              <div class="card shadow-sm">
                <div class="card-header">
                  <h5 class="card-title">Basic Information</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Account Name : {{ selectedData.accountName }}
                    </li>
                    <li class="list-group-item">
                      Account Type : {{ selectedData.accountType }}
                    </li>
                  </ul>
                </div>
              </div> -->
      <!-- <div class="card shadow-sm mt-3">  <div class="card-header">
                              <h5 class="card-title">Contact Information</h5>  </div>
                            <div class="card-body">
                              <ul class="list-group">
                                <li class="list-group-item"><strong>Contact Information</strong></li>
                                <li class="list-group-item">Email: {{selectedData.email}}</li>
                                <li class="list-group-item">Phone: {{selectedData.phone}}</li>
                                <li class="list-group-item">Website: {{selectedData.website}}</li>
                                <li class="list-group-item">Address: {{selectedData.address}}</li>
                                <li class="list-group-item">City: {{selectedData.city}}</li>
                                <li class="list-group-item">State: {{selectedData.state}}</li>
                                <li class="list-group-item">ZIP: {{selectedData.zip}}</li>
                                <li class="list-group-item">Country: {{selectedData.country}}</li>
                                <li class="list-group-item">Social Media: {{selectedData.socialMedia}}</li>
                              </ul>
                            </div>
                          </div> -->
      <!-- <div class="card shadow-sm mt-3">  <div class="card-header">
                            <h5 class="card-title">Business Details </h5>  </div>
                          <div class="card-body">
                            <ul class="list-group">
                              <li class="list-group-item">Industry: {{selectedData.industry}}</li>
                              <li class="list-group-item">Annual Revenue: {{selectedData.annualRevenue}}</li>
                              <li class="list-group-item">Company Size: {{selectedData.companySize}}</li>
                               </ul>
                          </div>
                        </div> -->
      <!-- <div class="card shadow-sm mt-3">  <div class="card-header">
                          <h5 class="card-title">Status and Timeline</h5>  </div>
                        <div class="card-body">
                          <ul class="list-group">
                            <li class="list-group-item">Status: {{selectedData.status}}</li>
                            <li class="list-group-item">Is ABM: {{selectedData.isabm}}</li>
                            <li class="list-group-item">Created At: {{selectedData.createdAt}}</li>
                            <li class="list-group-item">Modified At: {{selectedData.modifiedAt}}</li>
                          </ul>
                        </div>
                      </div> -->
      <!-- <div class="card shadow-sm mt-3">  <div class="card-header">
                        <h5 class="card-title">Additional Information</h5>  </div>
                      <div class="card-body">
                        <ul class="list-group">
                          <li class="list-group-item">Notes: {{selectedData.notes}}</li>
            <li class="list-group-item">Source: {{selectedData.source}}</li>
                        
                        </ul>
                      </div>
                    </div> -->
      <!-- <div class="card shadow-sm mt-3">  <div class="card-header">
                      <h5 class="card-title">Optional Fields</h5>  </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">Buying Stage: {{selectedData.buyingStage}}</li>
                        <li class="list-group-item">Campaigns: {{selectedData.campaigns}}</li>
                        <li class="list-group-item">Decision Makers: {{selectedData.decisionMakers}}</li>
                        <li class="list-group-item">Domain: {{selectedData.domain}}</li>
                        <li class="list-group-item">Pain Points: {{selectedData.painPoints}}</li>
                        <li class="list-group-item">Parent Account ID: {{selectedData.parentAccountId}}</li>
                        <li class="list-group-item">Photo URL: {{selectedData.photoUrl}}</li>
                        <li class="list-group-item">Team Members: {{selectedData.teamMembers}}</li>
                        </ul>
                    </div>
                  </div> -->
      <!-- </div>
          </div>
        </ng-template>
      </li> -->
      <li class="me-2 mb-1" [ngbNavItem]="1">
        <a ngbNavLink><i class="fe fe-activity"></i> Activity</a>
        <ng-template ngbNavContent>
          <!--activity-->
          <div class="container">
            <div class="roadmap">
              <h2>User Journey</h2>
              <div class="roadmap-timeline">
                <div class="roadmap-line"></div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Discovery</h3>
                    <!-- <p>Discovery</p> -->
                    <p>The user discovers your brand</p>
                  </div>
                </div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Consideration</h3>

                    <p>
                      The user discovers your brand through a campaign or other
                      marketing channel.
                    </p>
                  </div>
                </div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Engagement</h3>
                    <p></p>
                    <p>Enhance user onboarding</p>
                  </div>
                </div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Conversion</h3>
                    <!-- <p>Conversion </p> -->
                    <p>Enhance user onboarding</p>
                  </div>
                </div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Retention</h3>

                    <p>Enhance user onboarding</p>
                  </div>
                </div>
                <div class="roadmap-milestone">
                  <div class="milestone-icon">
                    <i class="fas fa-flag"></i>
                  </div>
                  <div class="milestone-content">
                    <h3>Advocacy</h3>
                    <p></p>
                    <p>Expand to new markets</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--activity-->
        </ng-template>
      </li>
      <li class="me-2 mb-1" [ngbNavItem]="3">
        <a ngbNavLink><i class="fe fe-users"></i> Prospects</a>
        <ng-template ngbNavContent>
          <div class="card lead-card">
            <div class="card-body">
              <h5 class="card-title">Sridhar Dhamodharan</h5>
              <p class="card-text">
                <strong>Email:</strong> sridharexample.com
              </p>
              <p class="card-text"><strong>Source:</strong> Campaign</p>
              <p class="card-text"><strong>Status:</strong> New</p>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
